/* ----- footer.scss ----- */

footer {
    padding-top: 13px;
    background: $r-medium-gray;

    p {
        margin-bottom: 10px;
        font: bold 16px 'Roboto Slab', serif;
        color: $r-white;
    }

    .footerLinks {
        margin-bottom: 15px;
    }

    .socialNetwork__item {
        display: inline-block;
        margin-right: 7px;
    }

    .socialNetwork__link {
        &:before {
            content: "";
            display: inline-block;
            height: 37px;
            width: 37px;
            margin-right: 2px;
            margin-bottom: 2px;
            vertical-align: middle;
            border-radius: 50%;
            background: $r-graphite url(../images/sprite.png) no-repeat;
            background-size: 105px 187px;
            transition: background .2s ease-in-out;
        }

        &.view_iconFacebook:before {
            background-position: -3px -55px;
        }

        &.view_iconvKontakte:before {
            background-position: -20px -54px;
        }
        &.view_iconGoogle:before {
            background-position: -55px -54px;
        }
        &.view_iconTwitter:before {
            background-position: -38px -54px;
        }
        &.view_iconRSS:before {
            background-position: -90px -55px;
        }
    }


    .footerSubscribe {
        margin-bottom: 15px;
    }

    .footerSubscribe__form {
        position: relative;

        .footerSubscribe__input {
            width: calc(100% - 130px);
            height: 28px;
            padding: 4px 50px 4px 5px;
            border: 1px solid $r-orange;
            font-size: 16px;
            line-height: 7px;
            color: $r-white;
            background: transparent;

            &::-webkit-input-placeholder,
            &::-moz-placeholder,
            &:-moz-placeholder,
            &:-ms-input-placeholder {
                color: $r-white;
                font-weight: 200;
            }
        }

        .yellowButton {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 15px;

            .corner {
                height: 23px;
            }
        }
    }

    .footerCopy {
      position: relative;
        padding: 16px 15px;
        background: $r-black;
        font-size: 12px;

        &__text {
            margin: 0;
            font-size: 12px;
            font-weight: normal;
            color: #8a8a8a;
        }

      &__18plus {
        display: block;
        position: absolute;
        right: 15px;
        top: 13px;
      }
    }
}