/* ----- footer.scss ----- */

.footer {
	padding-top: 13px;
	background: $r-medium-gray;

	p {
		margin-bottom: 10px;
		font: bold 16px 'Roboto Slab', serif;
		color: $r-white;
	}

	.footerLinks {
		margin-bottom: 15px;
		box-sizing: border-box;
	}

	.footerSubscribe {
		margin-bottom: 15px;
		box-sizing: border-box;

		form {
			margin-bottom: 15px;
		}

		&__siteLink {
			text-decoration: none;
			color: $r-white;
			font: 100 14px 'Roboto', sans-serif;
		}
	}

	.footerSubscribe__form {
		display: flex;

		.footerSubscribe__input {
			//width: calc(100% - 115px);
			border: 1px solid $r-orange;
			color: $r-white;
			background: transparent;

			&::-webkit-input-placeholder {
				color: $r-white;
				font-weight: 200;
			}
			&::-moz-placeholder {
				color: $r-white;
				font-weight: 200;
			}
			&:-moz-placeholder {
				color: $r-white;
				font-weight: 200;
			}
			&:-ms-input-placeholder {
				color: $r-white;
				font-weight: 200;
			}
		}
	}

	.footerCopy {
		position: relative;
		padding: 16px 15px;
		background: $r-black;
		font-size: 12px;
		box-sizing: border-box;

		&__text {
			margin: 0;
			font-size: 12px;
			font-weight: normal;
			color: #8a8a8a;
		}

		&__18plus {
			display: block;
			position: absolute;
			right: 15px;
			top: 13px;
			@include sprite(18plus);
		}
	}

	.socials .socialNetwork__item {
		margin-right: 6px;
	}
}
