input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"] {
    width: 100%;
    margin: 0;
    padding: 7px 7px 6px;
    border: 1px solid $r-gray;
    border-radius: 0;
    font: normal 17px/10px 'RobotoLight', sans-serif;
    -webkit-appearance: none;
}

input::-webkit-input-placeholder {
    color: $r-placeholder;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
input::-moz-placeholder {
    color: $r-placeholder;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
input:-moz-placeholder {
    color: $r-placeholder;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
input:-ms-input-placeholder {
    color: $r-placeholder;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.search__input[type="text"] {
    position: relative;
    width: calc(100% - 66px);
    padding-right: 40px;
    padding-left: 18px;
    color: $r-black;
    background: $r-white;
}

.yellowButton {
    position: relative;
    margin-right: 5px;
    padding: 9px 6px 8px 10px;
    font: bold 13px 'Roboto Slab', serif;
    text-decoration: none;
    text-transform: uppercase;
    color: $r-black;
    background: $r-orange;
    transition: all 0.18s;

    .corner {
        position: absolute;
        bottom: 0;
        right: -10px;
        display: block;
        width: 10px;
        height: 25px;
        background: $r-orange;
        transition: all 0.18s;

        &:before {
            content: "";
            position: absolute;
            right: 0;
            top: -10px;
            display: block;
            border: 5px solid transparent;
            border-bottom-color: $r-black;
            border-left-color: $r-black;
        }

        &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            border: 5px solid transparent;
            border-top-color: rgba(0, 0, 0, 0.1);
            border-right-color: rgba(0, 0, 0, 0.1);
        }
    }

    &.view_big {
        font-size: 13px;
        display: inline-block;
        transform: translateY(-1px);

        .corner {
            height: 25px;
        }
    }
}

.search {
  position: relative;

  .yellowButton {
    position: absolute;
    right: 0;
    transform: none;
  }
}