.header {
  position: relative;
  z-index: 555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0 3px 15px;
  background: #FFF;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16);

  &.transparent {
    background: transparent;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
  }

  &__mainLogo {
    display: block;
  }
}