.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 777;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0 2px 15px;
  background: #FFF;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16);
  box-sizing: border-box;

  &.state_scroll {
    position: fixed;
  }

  &.transparent {
    z-index: 555;
    background: transparent;
    box-sizing: border-box;
    box-shadow: none;
  }

  &__mainLogo {
    display: block;
    transition: opacity 300ms ease-out;

    img {
      transition: all 200ms ease-out;
    }
  }

  .burgerButton {
    position: absolute;
  }
}

.header:not(.transparent) + section {
  padding-top: 44px;
  padding-bottom: 1px;
}

.header.transparent.state_scroll {
  .header__mainLogo img {
    width: 51px;
    height: 20px;
    margin-top: 10px;
  }
  .burgerButton {
    opacity: 0;
  }
}

.state_open {
  .header__mainLogo {
    opacity: 0;
  }
}

.slowDown {
  position: relative;
  margin-top: -46px;
  background: #000;

  .slider {
    height: 261px;
  }

  &__overlay {
    z-index: 11;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $r-black;
    opacity: 0;
  }
}


.section-title.transparent {
  opacity: 0;
  background: rgba(0,0,0,0);
}

.sectionLogo {
  left: 15px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
}