%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-comments-black {
	@extend %svg-common;
	background-position: 0 64.80204021907271%;
}

.svg-comments-black-dims {
	width: 24px;
	height: 25.162px;
}

.svg-comments-grey {
	@extend %svg-common;
	background-position: 40% 64.80204021907271%;
}

.svg-comments-grey-dims {
	width: 24px;
	height: 25.162px;
}

.svg-comments-white {
	@extend %svg-common;
	background-position: 99.51% 0;
}

.svg-comments-white-dims {
	width: 24px;
	height: 25.162px;
}

.svg-like-black {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-like-black-dims {
	width: 19.902px;
	height: 31px;
}

.svg-like-grey {
	@extend %svg-common;
	background-position: 31.04933071234672% 0;
}

.svg-like-grey-dims {
	width: 19.902px;
	height: 31px;
}

.svg-like-white {
	@extend %svg-common;
	background-position: 62.09866142469344% 0;
}

.svg-like-white-dims {
	width: 19.902px;
	height: 31px;
}

.svg-see-white {
	@extend %svg-common;
	background-position: 95.27502513284504% 44.1438596491228%;
}

.svg-see-white-dims {
	width: 21.333px;
	height: 16px;
}

.svg-seen-black {
	@extend %svg-common;
	background-position: 0 98.5298245614035%;
}

.svg-seen-black-dims {
	width: 21.333px;
	height: 16px;
}

.svg-seen-grey {
	@extend %svg-common;
	background-position: 34.04184020297764% 98.5298245614035%;
}

.svg-seen-grey-dims {
	width: 21.333px;
	height: 16px;
}

