<div class="brick__article-preview">
	<div class="brick__side">
		<img src="https://www.ridus.ru/images/avatars/135449/small_8a8d13e804.jpg" alt="Александр Иванов" />
		<p>Александр Иванов</p>
	</div>

	<div class="brick__content">
		<div class="brick__mainLinkWrapper">
			<a href="#" class="brick__mainLink" title="">В нашей стране его расстреляли в пятнадцать лет вопреки закону</a>
		</div>
		<p class="brick__text">
			30 сентября — годовщина начала операции ВКС России в Сирии. Каковы ее итоги и что будет дальше?
		</p>
        @@include('./_counter-block.html', {
        "like": 5,
        "comment": 7,
        "show": 2,
        "colorClass": "black",
        "saveButton": "read"
    })
	</div>

    
</div>

