<div class="author-info">
    <img class="author-info__avatar" src="./../../images/author.jpg">
    <div class="author-info__author">
        <p class="author-info__name">Антон Бандеров</p>
        <div class="author-info__about">
            <p>Православный публицист, радиоведущий. Родился в 1969 году, в 1992
            принял Святое Крещение и
            присоединится к Русской Православной Церкви.</p>
            <p id="author-info_text" class="hidden__hide"> Постоянный обозреватель радио «Радонеж», радио
            «Вера», радио «Теос», публикуется на порталах «Православие и мир», «Православие.ру», сотрудничал
            с журналом «Фома» и «Альфа и Омега». Автор книг «Об уверенности в спасении» (2000), «Христианство:
            трудные вопросы» (2003) (в соавторстве с Ольгой Брилевой и Михаилом Логачевым), «О вещах простых и
            ясных» (2011) (в соавторстве с Мариной Журинской), и «Как доказать, что Бог существует.
            Краткое введение в Апологетику» (2012)</p>
            <a href="#" class="hidden" data-id="author-info_text">
                <span>Развернуть</span>
                <span class="hidden__hide">Свернуть</span>
            </a>
        </div>
        <a href="#">Все статьи автора</a>
    </div>
</div>