<div class="filter block-filter full-width" data-name="block-filter">
    <header>
        <h3>Темы</h3>
        <div class="filter__close">
        </div>
    </header>
    <main>
        <div>
            <ul class="tilesNav">
                <li class="view_noEmpty">Общество</li>
                <li class="view_noEmpty">Политика</li>
                <li class="view_noEmpty">Экономика</li>
                <li class="view_noEmpty">Искусство</li>
                <li class="view_noEmpty">Религия</li>
                <li class="view_noEmpty">Кино</li>
                <li class="view_noEmpty">Экология</li>
                <li class="view_noEmpty">Молодежь</li>
                <li class="view_noEmpty">Биография</li>
                <li class="view_noEmpty">Наука и техника</li>
            </ul>
        </div>
        <h3>В рубриках</h3>
        <div class="view_gray">
            <ul class="tilesNav rubrics">
                <li class="two-sized all-rubrics">Все рубрики</li>
                <li class="view_noEmpty">Авто</li>
                <li class="view_noEmpty">Недвижимость</li>
                <li class="view_noEmpty">Арт-ридус</li>
                <li class="view_noEmpty">Образование</li>
                <li class="view_noEmpty">Видао</li>
                <li class="view_noEmpty">Общество</li>
                <li class="view_noEmpty">Военное дело</li>
                <li class="view_noEmpty">Политика</li>
                <li class="view_noEmpty">Город</li>
                <li class="view_noEmpty">Право</li>
                <li class="view_noEmpty">Еда</li>
                <li class="view_noEmpty">Происшествия</li>
                <li class="view_noEmpty">Животные</li>
                <li class="view_noEmpty">Путешествия</li>
                <li class="view_noEmpty">Здоровье</li>
                <li class="view_noEmpty">Расследования</li>
                <li class="view_noEmpty">Знаменитости</li>
                <li class="view_noEmpty">Религия</li>
                <li class="view_noEmpty">Интернет</li>
                <li class="view_noEmpty">СМИ</li>
                <li class="view_noEmpty">История</li>
                <li class="view_noEmpty">Советы</li>
                <li class="view_noEmpty">Кино</li>
                <li class="view_noEmpty">Спорт</li>
                <li class="view_noEmpty">Компьютерные игры</li>
                <li class="view_noEmpty">Стиль</li>
                <li class="view_noEmpty">Космос</li>
                <li class="view_noEmpty">Технологии</li>
                <li class="view_noEmpty">Культура</li>
                <li class="view_noEmpty">Фото</li>
                <li class="view_noEmpty">Литература</li>
                <li class="view_noEmpty">Экология</li>
                <li class="view_noEmpty">Музыка</li>
                <li class="view_noEmpty">Экономика</li>
                <li class="view_noEmpty">Наука и техника</li>
                <li class="view_noEmpty">Юмор</li>
            </ul>
            <div class="padding-lr">
                <button class="filter__button filter__applyButton">Применить</button>
                <button class="filter__button filter__removeButton">Сбросить все</button>
            </div>
        </div>
    </main>
</div>