<div class="comments__auth">
    <div class="comments__auth-header">
        <h3>Авторизация</h3>
        <span class="filter__close"></span>
    </div>

    <div class="comments__auth-body">
        <div class="comments__auth-text">
            Для комментирования новости войдите через социальные сети
        </div>

        <ul class="socials">
            <li class="socialNetwork__item">
                <a class="socialNetwork__link fa fa-facebook" href="#" title=""></a>
            </li>
            <li class="socialNetwork__item">
                <a class="socialNetwork__link fa fa-vk" href="#" title=""></a>
            </li>
            <li class="socialNetwork__item">
                <a class="socialNetwork__link fa fa-google-plus" href="#" title=""></a>
            </li>
            <li class="socialNetwork__item">
                <a class="socialNetwork__link fa fa-twitter" href="#" title=""></a>
            </li>
        </ul>

        <div class="comments__auth-text">
            или авторизуйтесь
        </div>

        <form class="form signin ui-tabs-panel ui-widget-content ui-corner-bottom" id="signin" aria-labelledby="ui-id-2" role="tabpanel" aria-hidden="false" style="display: block;">
            <div class="form-control">
                <input type="text" placeholder="Ваш e-mail">
            </div>
            <div class="form-control">
                <input type="password" placeholder="Пароль">
            </div>
            <a class="form-control-register yellowButton view_big" href="#" title="">
                Войти
                <i class="corner"><!-- corner --></i>
            </a>
            <a class="form-control-register small-text" href="/html/pages/signup.html#in" title="">
                Регистрация на Ридусе
            </a>
        </form>
    </div>
</div>