<div class="countersBlock @@colorClass">
    <span class="countersBlock__item countersBlock__item-like view_count1">
        @@like
    </span>
    <span class="countersBlock__item countersBlock__item-comment view_count2">
        @@comment
    </span>
    <span class="countersBlock__item countersBlock__item-show view_count3">
        @@show
    </span>
    <!--<a href="#" class="countersBlock__item readLater">-->
        <!--<span>читать позже</span>-->
        <!--<span class="state_hidderHidden">читаю позже</span>-->
        <!--<i class="icon">&lt;!&ndash; icon &ndash;&gt;</i>-->
    <!--</a>-->
</div>