<div class="countersBlock @@colorClass">
    <span class="countersBlock__item countersBlock__item-like view_count1">
        @@like
    </span>
    <span class="countersBlock__item countersBlock__item-comment view_count2">
        @@comment
    </span>
    <span class="countersBlock__item countersBlock__item-show view_count3">
        @@show
    </span>
    <i class="countersBlock__item countersBlock__item-readLater">
        <span>читать позже</span>
        <span class="state_hidden">читаю позже</span>
    </i>
</div>