<div class="most tabs__wrapper">

    <ul class="most__tabs clearfix">
        <li class="most__tabs__item"><a href="#mostbrick_tab-1">Самые читаемые</a></li>
        <li class="most__tabs__item"><a href="#mostbrick_tab-2">Самые обсуждаемые</a></li>
    </ul>

    <ul id="mostbrick_tab-1" class="newsList">
        <li class="newsList__item clearfix">
            <span class="newsList__item-date">вчера, 18:34</span>
            <a class="newsList__item-link" href="#" title="">Украинские списки «белых» и «черных» артистов удивили</a>
        </li>
        <li class="newsList__item clearfix">
            <span class="newsList__item-date">28 августа, 17:42</span>
            <a class="newsList__item-link" href="#" title="">В КПРФ предложили отдавать санкционные продукты детдомам</a>
        </li>
        <li class="newsList__item clearfix">
            <span class="newsList__item-date">28 августа, 17:42</span>
            <a class="newsList__item-link" href="#" title="">Грузия опровергла присоединение к санкциям Евросоюза против России</a>
        </li>
        <li class="newsList__item clearfix">
            <span class="newsList__item-date">28 августа, 17:42</span>
            <a class="newsList__item-link" href="#" title="">Украинские списки «белых» и «черных» артистов удивили Минкульт</a>
        </li>
        <li class="newsList__item clearfix">
            <span class="newsList__item-date">28 августа, 17:42</span>
            <a class="newsList__item-link" href="#" title="">Грузия опровергла присоединение к санкциям Евросоюза против России</a>
        </li>
    </ul>

    <ul id="mostbrick_tab-2" class="newsList hidden__hide">
        <li class="newsList__item clearfix">
            <span class="newsList__item-date">28 августа, 17:42</span>
            <a class="newsList__item-link" href="#" title="">В КПРФ предложили отдавать санкционные продукты детдомам</a>
        </li>
        <li class="newsList__item clearfix">
            <span class="newsList__item-date">29 августа, 10:12</span>
            <a class="newsList__item-link" href="#" title="">Украинские списки «белых» и «черных» артистов удивили</a>
        </li>
        <li class="newsList__item clearfix">
            <span class="newsList__item-date">8 августа, 07:10</span>
            <a class="newsList__item-link" href="#" title="">В России введены санкции на сыр и молоко</a>
        </li>
        <li class="newsList__item clearfix">
            <span class="newsList__item-date">2 августа, 17:42</span>
            <a class="newsList__item-link" href="#" title="">Грузия опровергла присоединение к санкциям Евросоюза России</a>
        </li>
        <li class="newsList__item clearfix">
            <span class="newsList__item-date">28 августа, 17:42</span>
            <a class="newsList__item-link" href="#" title="">В КПРФ предложили отдавать санкционные продукты детдомам</a>
        </li>
    </ul>

</div>