<h4 class="brick__header view_centred">
    <div class="photoreports-button-prev"></div>
    Фоторепортажи
    <div class="photoreports-button-next"></div>
</h4>

<div class="swiper-wrapper">

    <div class="swiper-slide">
        @@include('./../bricks/alasliderimage.html', {"image": 4})
    </div>

    <div class="swiper-slide">
        @@include('./../bricks/alasliderimage.html', {"image": 3})
    </div>

    <div class="swiper-slide">
        @@include('./../bricks/alasliderimage.html', {"image": 2})
    </div>

</div>
