<section class="bgColor_white padding-lr registration">
    <ul class="tabs tabs-wrapper">
        <li class="tabs-inline__item"><a href="#signup">Регистрация</a></li>
        <li class="tabs-inline__item"><a href="#signin">Войти</a></li>
    </ul>

    <form class="form signup" id="signup">
        <div class="form-control">
            <label>Электронная почта</label>
            <input type="text" placeholder="Ваш e-mail">
        </div>
        <div class="form-control">
            <label>Имя</label>
            <input type="text" placeholder="Ваше имя">
        </div>
        <div class="form-control">
            <label>Фамилия</label>
            <input type="text" placeholder="Ваша фамилия">
        </div>
        <div class="form-control">
            <label>Пароль</label>
            <input type="password" placeholder="">
        </div>
        <div class="form-control-before-btn">
            <label>Подтвердите пароль</label>
            <input type="password" placeholder="">
        </div>
        <a class="form-control-register yellowButton view_big" href="" title="">
            Зарегистрироваться
            <i class="corner"><!-- corner --></i>
        </a>
        <div>
            <label>
                <input type="checkbox" checked="checked" />
                Я хочу получать рассылку свежих новостей
            </label>
        </div>
    </form>
    <form class="form signin" id="signin">
        <div class="form-control">
            <label>Электронная почта</label>
            <input type="text" placeholder="Ваш e-mail">
        </div>
        <div class="form-control">
            <label>Пароль</label>
            <input type="password" placeholder="">
        </div>
        <a class="form-control-register yellowButton view_big" href="" title="">
            Войти
            <i class="corner"><!-- corner --></i>
        </a>
        
        <div class="signin_socials">
            <div class="signin_socials_header">
                Войти через социальные сети
            </div>
        
            <ul class="socials">
                <li class="socialNetwork__item">
                    <a class="socialNetwork__link fa fa-facebook" href="#" title=""></a>
                </li>
                <li class="socialNetwork__item">
                    <a class="socialNetwork__link fa fa-vk" href="#" title=""></a>
                </li>
                <li class="socialNetwork__item">
                    <a class="socialNetwork__link fa fa-google-plus" href="#" title=""></a>
                </li>
                <li class="socialNetwork__item">
                    <a class="socialNetwork__link fa fa-twitter" href="#" title=""></a>
                </li>
            </ul>
        </div>
    </form>
</section>