<section class="bgColor_white padding-lr">

    <ul class="menu clearfix">
        <li class="menu__item"><a href="#" title="">Отложенные</a></li>
        <li class="menu__item menu__item-active"><a href="#" title="">Сохраненные</a></li>
    </ul>

    <div class="bricksWrapper">
        <div class="row">
            <div class="col-6">
                <div class="brick">
                    @@include('./../bricks/news-simple.html', {
                    "image": 2,
                    "data": 6,
                    "label": 21,
                    "counters": true,
                    "like": 0,
                    "comment": 2,
                    "show": 408,
                    "action": "delete"
                    })
                </div>
            </div>
            <div class="col-6">
                <div class="brick">
                    @@include('./../bricks/news-simple.html', {
                    "image": 1,
                    "data": 1,
                    "label": 21,
                    "counters": true,
                    "like": 0,
                    "comment": 2,
                    "show": 408,
                    "action": "delete"
                    })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="brick">
                    @@include('./../bricks/news-simple.html', {
                    "image": 2,
                    "data": 6,
                    "label": 22,
                    "counters": true,
                    "like": 0,
                    "comment": 2,
                    "show": 408,
                    "action": "delete"
                    })
                </div>
            </div>
            <div class="col-6">
                <div class="brick">
                    @@include('./../bricks/news-simple.html', {
                    "image": 1,
                    "data": 1,
                    "label": 21,
                    "counters": true,
                    "like": 0,
                    "comment": 2,
                    "show": 408,
                    "action": "delete"
                    })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="brick">
                    @@include('./../bricks/news-simple.html', {
                    "image": 2,
                    "data": 6,
                    "label": 21,
                    "counters": true,
                    "like": 0,
                    "comment": 2,
                    "show": 408,
                    "action": "delete"
                    })
                </div>
            </div>
        </div>
    </div>
</section>
