<div class="search-form">
    @@include('./_search-input.html')
    <div class="search-form__category">
        <label>искать:</label>
        <div class="search-form__category__items">
            <label>
                <input type="radio" name="in" checked="">
                в заголовке
            </label>
            <label>
                <input type="radio" name="in" checked="">
                в статье
            </label>
            <label>
                <input type="radio" name="in" checked="">
                автора
            </label>
        </div>
    </div>
    <a class="button__icon search-form__rubric">В рубриках
        <i class="icon"></i>
    </a>
    <div class="datepicker-bottom in-component">
        <label>по датам</label>
        <div class="datepicker-bottom__row">
            <label>c</label>
            <input type="text" class="datepicker" placeholder="чч/мм/гггг">
        </div>
        <div class="datepicker-bottom__row">
            <label>по</label>
            <input type="text" class="datepicker" placeholder="чч/мм/гггг">
        </div>
    </div>
</div>