<div class="filtersList__wrapper">

        <div class="filtersList__header">
            <a href="#" class="filtersList__header-select-all" title="">все рубрики</a>
            <a href="#" class="filtersList__header-close" title="">&times;</a>
        </div>
		

		<ul class="filtersList">
			<li class="filtersList__item">
				<span class="filtersList__link" title="">авто</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">арт-ридус</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">видео</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">военное дело</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">город</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">еда</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">животные</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">здоровье</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">знаменитости</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">интернет</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">история</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">кино</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">компьютерные игры</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">космос</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">культура</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">литература</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">музыка</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">наука и техника</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">недвижимость</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">обраование</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">общество</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">политика</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">право</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">происшествия</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">путешествия</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">расследования</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">религия</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">сми</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">советы</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">спорт</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">стиль</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">технологии</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">фото</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">экология</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">экономика</span>
			</li>
			<li class="filtersList__item">
				<span class="filtersList__link" title="">юмор</span>
			</li>
		</ul>

        <div class="row-center">
            <span href="#" class="categoryFilter__applyButton" title="">Применить</span>
        </div>
	</div>