<div class="share-container">
    <div class="share-header">
        Поделиться
    </div>
    <ul class="share-list">
        <li class="share-item">
            <a href="#" class="share-link"><i class="share-icon share-icon-fb"></i> <span class="share-text">Facebook</span></a>
        </li>
        <li class="share-item">
            <a href="#" class="share-link"><i class="share-icon share-icon-vk"></i> <span class="share-text">VK</span></a>
        </li>
        <li class="share-item">
            <a href="#" class="share-link"><i class="share-icon share-icon-odno"></i> <span class="share-text">Одноклассники</span></a>
        </li>
        <li class="share-item">
            <a href="#" class="share-link"><i class="share-icon share-icon-gmail"></i> <span class="share-text">Gmail</span></a>
        </li>
        <li class="share-item">
            <a href="#" class="share-link"><i class="share-icon share-icon-twitter"></i> <span class="share-text">Twitter</span></a>
        </li>
    </ul>
    <div class="share-cancel">
        Отмена
    </div>
</div>