<div class="slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="#" class="slider__image" title="">
                <img src="https://www.ridus.ru/images/2016/3/9/374241/in_article_6e0fbfdc98.jpg" alt="" />
                <i class="important"><span class="icon"></span>важное</i>
            </a>
            <div class="slider__text">
                <h1><a href="" title="">Яценюк запустил &laquo;план Ы&raquo;</a></h1>
                @@include('./_counter-block.html', {"like": 0, "comment": 2, "show": 408, "colorClass": "white", "saveButton": "read"})
            </div>
            <a href="#" class="clickable"></a>
        </div>
        <div class="swiper-slide">
            <div class="empty-brick">
                <div class="empty-brick__ridus"></div>
                <div class="empty-brick__content">
                    <div class="empty-brick__content-bg">
                    </div>
                    <div class="empty-brick__labels">
                        <a href="#life" class="brick__label" title="">Политика</a>
                    </div>
                    <a href="#" class="empty-brick__link">Яценюк запустил &laquo;план Ы&raquo;</a>
                    @@include('./_counter-block.html', {"like": 0, "comment": 2, "show": 408, "colorClass": "white", "saveButton": "read"})
                    <a href="" class="clickable"></a>
                </div>
                <div class="emty-brick__line"></div>
            
                <a href="#" class="clickable"></a>
            
            </div>
                
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
