<div class="row padding-lr padding-tb-15">
	<div class="col-12">
		<a href="#" class="filter-open button__icon" data-filter="block-filter" data-title="Фильтры">
			<span class="filter__title">Фильтры
			<i class="icon"></i></span>
                            <span class="filter__reset">
                                <span class="filter__reset-text">Сбросить</span>
                                <span class="filter__reset-button"></span>
                            </span>
		</a>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="translation__wrapper swiper-no-swiping" data-translation="jwPlayer"
		     data-image="http://img.gravlab.com/003119/sparse/v1d30/pages/928x522-nighsky-player-image.jpg"
		     data-source1="https://devimages.apple.com.edgekey.net/streaming/examples/bipbop_4x3/bipbop_4x3_variant.m3u8"
		     data-source2="http://download.openbricks.org/sample/H264/big_buck_bunny_720p_H264_AAC_25fps_3400K_short.MP4"
		     data-source3="http://stream.gravlab.net/003119/sparse/v1d30/pages/lapse2_896x504.webm">
			<div class="translationControls">
				<span class="translation__type">Онлайн трансляция</span>
			</div>
			<div id="translationPlayer" class="translationPlaceholder translation"></div>
		</div>
	</div>
</div>

<div class="padding-tb">
	@@include('./../components/_slider.html')
</div>

<div class="row padding-lr padding-tb">
	<div class="col-6">
		<div class="brick">
			@@include('./../bricks/news-simple.html', {
			"image": 2,
			"data": 6,
			"label": 22,
			"counters": true,
			"like": 0,
			"comment": 2,
			"show": 408
			})
		</div>
	</div>
	<div class="col-6">
		<div class="brick">
			@@include('./../bricks/news-simple.html', {
			"image": 1,
			"data": 1,
			"label": 31,
			"counters": true,
			"like": 0,
			"comment": 2,
			"show": 408
			})
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="brick">
			@@include('./../bricks/main-for-today.html')
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="brick">
			@@include('./../bricks/news-list.html')
		</div>
	</div>
</div>

<div class="row padding-lr padding-tb">
	<div class="col-12">
		<div class="brick">
			@@include('./../bricks/news-simple.html', {
			"image": 1,
			"data": 4,
			"label": 22,
			"counters": true,
			"like": 0,
			"comment": 2,
			"show": 408
			})
		</div>
	</div>
</div>

<div class="row padding-lr padding-tb">
	<div class="col-6">
		<div class="brick">
			@@include('./../bricks/news-simple.html', {
			"image": 2,
			"data": 2,
			"label": 22,
			"counters": true,
			"like": 0,
			"comment": 2,
			"show": 408
			})
		</div>
	</div>
	<div class="col-6">
		<div class="brick">
			@@include('./../bricks/news-simple.html', {
			"image": 1,
			"data": 1,
			"label": 31,
			"counters": true,
			"like": 0,
			"comment": 2,
			"show": 408
			})
		</div>
	</div>
</div>

<div class="row padding-lr padding-tb">
	<div class="col-12">
		<div class="brick">
			@@include('./../bricks/videosection.html')
		</div>
	</div>
</div>

<div class="row padding-lr padding-tb">
	<div class="col-12">
		<div class="brick">
			@@include('./../bricks/news-simple.html', {
			"image": 1,
			"data": 4,
			"label": 22,
			"counters": true,
			"like": 0,
			"comment": 2,
			"show": 408
			})
		</div>
	</div>
</div>

<div class="row padding-lr padding-tb">
	<div class="col-6">
		<div class="brick">
			@@include('./../bricks/news-simple.html', {
			"image": 2,
			"data": 6,
			"label": 22,
			"counters": true,
			"like": 0,
			"comment": 2,
			"show": 408
			})
		</div>
	</div>
	<div class="col-6">
		<div class="brick">
			@@include('./../bricks/news-simple.html', {
			"image": 1,
			"data": 1,
			"label": 31,
			"counters": true,
			"like": 0,
			"comment": 2,
			"show": 408
			})
		</div>
	</div>
</div>

<div class="row padding-lr padding-tb">
	<div class="col-6">
		<div class="brick">
			@@include('./../bricks/news-simple.html', {
			"image": 2,
			"data": 6,
			"label": 22,
			"counters": true,
			"like": 0,
			"comment": 2,
			"show": 408,
			"typelabel": 1
			})
		</div>
	</div>
	<div class="col-6">
		<div class="brick">
			@@include('./../bricks/news-simple.html', {
			"image": 1,
			"data": 1,
			"label": 31,
			"counters": true,
			"like": 0,
			"comment": 2,
			"show": 408
			})
		</div>
	</div>
</div>

<div class="row padding-tb">
	<div class="col-12">
		<div class="brick view_photoreports photoreports">
			@@include('./../components/_photoreports.html')
		</div>
	</div>
</div>

<div class="row padding-lr padding-tb">
	<div class="col-6">
		<div class="brick">
			@@include('./../bricks/news-simple.html', {
			"image": 2,
			"data": 7,
			"label": 22,
			"counters": true,
			"like": 0,
			"comment": 2,
			"show": 408
			})
		</div>
	</div>
	<div class="col-6">
		<div class="brick">
			@@include('./../bricks/news-simple.html', {
			"image": 1,
			"data": 1,
			"label": 31,
			"counters": true,
			"like": 0,
			"comment": 2,
			"show": 408
			})
		</div>
	</div>
</div>