<div class="materials">
    <div class="materials__image">
        <img src="http://joinfo.ua/images/news/2013/03/130320_01.jpg&prefix=slider310&a=310&b=250">
        <a href="#" class="materials__fullscreenLabel" title="">+12 &nbsp;</a>
    </div>
    <div class="materials__content">
        <div class="materials__content__link">
            <a href="#" title="">Видеоматериалы</a>
            <span>12</span>
        </div>
        <span class="materials__content__date">06 августа 2013 — 15 декабря 2015</span>
    </div>
</div>