<div class="vote-block bgColor_gray full-width">
	<h3>Какой прогноз цен на нефть вам кажется наиболее вероятным?</h3>
	<ul class="vote-block__list">
		<li>
			<p>Сбудется пророчество Назарбаева - цена опустится до $30-40 за баррель и останется там минимум 5 лет</p>
			<div class="vote-block__percentage">
				<div class="vote-block__amount">
					<div class="vote-block__slider" style="width:17.2%"></div>
					<span class="vote-block__description">17.2% (37)</span>
				</div>
			</div>
		</li>
		<li>
			<p>В ближайшие 3 года нефть будет колебаться в диапазоне $50-70 за баррель</p>
			<div class="vote-block__percentage">
				<div class="vote-block__amount">
					<div class="vote-block__slider" style="width:22.3%"></div>
					<span class="vote-block__description">22.3% (48)</span>
				</div>
			</div>
		</li>
		<li>
			<p>К середине 2016 года нефть может вернутся к $65 за баррель</p>
			<div class="vote-block__percentage">
				<div class="vote-block__amount">
					<div class="vote-block__slider" style="width:26.0%"></div>
					<span class="vote-block__description">26.0% (56)</span>
				</div>
			</div>
		</li>
		<li class="vote-block__item">
			<p>В ближайшее время возможен провал нефтяных цен до $15 за баррель</p>
			<div class="vote-block__percentage">
				<div class="vote-block__amount">
					<div class="vote-block__slider" style="width:34.4%"></div>
					<span class="vote-block__description">34.4% (74)</span>
				</div>
			</div>
		</li>
	</ul>
    <p class="vote-block__info">
        Проголосовало 232 человек <br>
        (Для голосования нажмите на соответствующую вашему выбору строку)
    </p>
</div>