<div class="weather">
    <img src="./../../images/weather-block.jpg" class="weather__image">
    <div class="weather__content">
        <h3>Прогноз</h3>
        <p>Эксперт по борьбе с терроризмом Ронен Соломон заявил, что российский аэробус мог быть взорван.</p>
        <p id="weatherDetails" class="hidden__hide">Эксперт по борьбе с терроризмом Ронен Соломон заявил, что российский аэробус мог быть взорван.</p>
        <a href="#" class="hidden" data-id="weatherDetails" title="">
            <span>Развернуть</span>
            <span class="hidden__hide">Свернуть</span>
        </a>
        <div class="datepicker-bottom in-component">
            <label>показать новости</label>
            <div class="datepicker-bottom__row">
                <label>c</label>
                <input type="text" class="datepicker" placeholder="чч/мм/гггг">
            </div>
            <div class="datepicker-bottom__row">
                <label>по</label>
                <input type="text" class="datepicker" placeholder="чч/мм/гггг">
            </div>
            <a class="yellowButton view_big" href="" title="">
                Показать
                <i class="corner"><!-- corner --></i>
            </a>
        </div>
    </div>
</div>