/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-age-limit-name: 'icon-age-limit';
$icon-age-limit-x: 0px;
$icon-age-limit-y: 0px;
$icon-age-limit-offset-x: 0px;
$icon-age-limit-offset-y: 0px;
$icon-age-limit-width: 22px;
$icon-age-limit-height: 22px;
$icon-age-limit-total-width: 77px;
$icon-age-limit-total-height: 58px;
$icon-age-limit-image: '../images/sprite.png';
$icon-age-limit: (0px, 0px, 0px, 0px, 22px, 22px, 77px, 58px, '../images/sprite.png', 'icon-age-limit', );
$icon-black-count-comment-name: 'icon-black-count-comment';
$icon-black-count-comment-x: 30px;
$icon-black-count-comment-y: 42px;
$icon-black-count-comment-offset-x: -30px;
$icon-black-count-comment-offset-y: -42px;
$icon-black-count-comment-width: 12px;
$icon-black-count-comment-height: 12px;
$icon-black-count-comment-total-width: 77px;
$icon-black-count-comment-total-height: 58px;
$icon-black-count-comment-image: '../images/sprite.png';
$icon-black-count-comment: (30px, 42px, -30px, -42px, 12px, 12px, 77px, 58px, '../images/sprite.png', 'icon-black-count-comment', );
$icon-black-count-like-name: 'icon-black-count-like';
$icon-black-count-like-x: 20px;
$icon-black-count-like-y: 42px;
$icon-black-count-like-offset-x: -20px;
$icon-black-count-like-offset-y: -42px;
$icon-black-count-like-width: 10px;
$icon-black-count-like-height: 15px;
$icon-black-count-like-total-width: 77px;
$icon-black-count-like-total-height: 58px;
$icon-black-count-like-image: '../images/sprite.png';
$icon-black-count-like: (20px, 42px, -20px, -42px, 10px, 15px, 77px, 58px, '../images/sprite.png', 'icon-black-count-like', );
$icon-black-count-show-name: 'icon-black-count-show';
$icon-black-count-show-x: 65px;
$icon-black-count-show-y: 28px;
$icon-black-count-show-offset-x: -65px;
$icon-black-count-show-offset-y: -28px;
$icon-black-count-show-width: 11px;
$icon-black-count-show-height: 8px;
$icon-black-count-show-total-width: 77px;
$icon-black-count-show-total-height: 58px;
$icon-black-count-show-image: '../images/sprite.png';
$icon-black-count-show: (65px, 28px, -65px, -28px, 11px, 8px, 77px, 58px, '../images/sprite.png', 'icon-black-count-show', );
$icon-black-right-arrow-name: 'icon-black-right-arrow';
$icon-black-right-arrow-x: 43px;
$icon-black-right-arrow-y: 27px;
$icon-black-right-arrow-offset-x: -43px;
$icon-black-right-arrow-offset-y: -27px;
$icon-black-right-arrow-width: 17px;
$icon-black-right-arrow-height: 14px;
$icon-black-right-arrow-total-width: 77px;
$icon-black-right-arrow-total-height: 58px;
$icon-black-right-arrow-image: '../images/sprite.png';
$icon-black-right-arrow: (43px, 27px, -43px, -27px, 17px, 14px, 77px, 58px, '../images/sprite.png', 'icon-black-right-arrow', );
$icon-brick-count-comment-name: 'icon-brick-count-comment';
$icon-brick-count-comment-x: 42px;
$icon-brick-count-comment-y: 42px;
$icon-brick-count-comment-offset-x: -42px;
$icon-brick-count-comment-offset-y: -42px;
$icon-brick-count-comment-width: 12px;
$icon-brick-count-comment-height: 12px;
$icon-brick-count-comment-total-width: 77px;
$icon-brick-count-comment-total-height: 58px;
$icon-brick-count-comment-image: '../images/sprite.png';
$icon-brick-count-comment: (42px, 42px, -42px, -42px, 12px, 12px, 77px, 58px, '../images/sprite.png', 'icon-brick-count-comment', );
$icon-brick-count-like-name: 'icon-brick-count-like';
$icon-brick-count-like-x: 10px;
$icon-brick-count-like-y: 42px;
$icon-brick-count-like-offset-x: -10px;
$icon-brick-count-like-offset-y: -42px;
$icon-brick-count-like-width: 10px;
$icon-brick-count-like-height: 15px;
$icon-brick-count-like-total-width: 77px;
$icon-brick-count-like-total-height: 58px;
$icon-brick-count-like-image: '../images/sprite.png';
$icon-brick-count-like: (10px, 42px, -10px, -42px, 10px, 15px, 77px, 58px, '../images/sprite.png', 'icon-brick-count-like', );
$icon-brick-count-show-name: 'icon-brick-count-show';
$icon-brick-count-show-x: 65px;
$icon-brick-count-show-y: 20px;
$icon-brick-count-show-offset-x: -65px;
$icon-brick-count-show-offset-y: -20px;
$icon-brick-count-show-width: 11px;
$icon-brick-count-show-height: 8px;
$icon-brick-count-show-total-width: 77px;
$icon-brick-count-show-total-height: 58px;
$icon-brick-count-show-image: '../images/sprite.png';
$icon-brick-count-show: (65px, 20px, -65px, -20px, 11px, 8px, 77px, 58px, '../images/sprite.png', 'icon-brick-count-show', );
$icon-count-comment-name: 'icon-count-comment';
$icon-count-comment-x: 65px;
$icon-count-comment-y: 0px;
$icon-count-comment-offset-x: -65px;
$icon-count-comment-offset-y: 0px;
$icon-count-comment-width: 12px;
$icon-count-comment-height: 12px;
$icon-count-comment-total-width: 77px;
$icon-count-comment-total-height: 58px;
$icon-count-comment-image: '../images/sprite.png';
$icon-count-comment: (65px, 0px, -65px, 0px, 12px, 12px, 77px, 58px, '../images/sprite.png', 'icon-count-comment', );
$icon-count-like-name: 'icon-count-like';
$icon-count-like-x: 0px;
$icon-count-like-y: 42px;
$icon-count-like-offset-x: 0px;
$icon-count-like-offset-y: -42px;
$icon-count-like-width: 10px;
$icon-count-like-height: 16px;
$icon-count-like-total-width: 77px;
$icon-count-like-total-height: 58px;
$icon-count-like-image: '../images/sprite.png';
$icon-count-like: (0px, 42px, 0px, -42px, 10px, 16px, 77px, 58px, '../images/sprite.png', 'icon-count-like', );
$icon-count-show-name: 'icon-count-show';
$icon-count-show-x: 65px;
$icon-count-show-y: 12px;
$icon-count-show-offset-x: -65px;
$icon-count-show-offset-y: -12px;
$icon-count-show-width: 12px;
$icon-count-show-height: 8px;
$icon-count-show-total-width: 77px;
$icon-count-show-total-height: 58px;
$icon-count-show-image: '../images/sprite.png';
$icon-count-show: (65px, 12px, -65px, -12px, 12px, 8px, 77px, 58px, '../images/sprite.png', 'icon-count-show', );
$icon-login-name: 'icon-login';
$icon-login-x: 22px;
$icon-login-y: 0px;
$icon-login-offset-x: -22px;
$icon-login-offset-y: 0px;
$icon-login-width: 21px;
$icon-login-height: 21px;
$icon-login-total-width: 77px;
$icon-login-total-height: 58px;
$icon-login-image: '../images/sprite.png';
$icon-login: (22px, 0px, -22px, 0px, 21px, 21px, 77px, 58px, '../images/sprite.png', 'icon-login', );
$icon-loupe-white-name: 'icon-loupe-white';
$icon-loupe-white-x: 0px;
$icon-loupe-white-y: 22px;
$icon-loupe-white-offset-x: 0px;
$icon-loupe-white-offset-y: -22px;
$icon-loupe-white-width: 20px;
$icon-loupe-white-height: 20px;
$icon-loupe-white-total-width: 77px;
$icon-loupe-white-total-height: 58px;
$icon-loupe-white-image: '../images/sprite.png';
$icon-loupe-white: (0px, 22px, 0px, -22px, 20px, 20px, 77px, 58px, '../images/sprite.png', 'icon-loupe-white', );
$icon-lupa-name: 'icon-lupa';
$icon-lupa-x: 20px;
$icon-lupa-y: 22px;
$icon-lupa-offset-x: -20px;
$icon-lupa-offset-y: -22px;
$icon-lupa-width: 18px;
$icon-lupa-height: 18px;
$icon-lupa-total-width: 77px;
$icon-lupa-total-height: 58px;
$icon-lupa-image: '../images/sprite.png';
$icon-lupa: (20px, 22px, -20px, -22px, 18px, 18px, 77px, 58px, '../images/sprite.png', 'icon-lupa', );
$icon-read-later-name: 'icon-read-later';
$icon-read-later-x: 43px;
$icon-read-later-y: 0px;
$icon-read-later-offset-x: -43px;
$icon-read-later-offset-y: 0px;
$icon-read-later-width: 22px;
$icon-read-later-height: 13px;
$icon-read-later-total-width: 77px;
$icon-read-later-total-height: 58px;
$icon-read-later-image: '../images/sprite.png';
$icon-read-later: (43px, 0px, -43px, 0px, 22px, 13px, 77px, 58px, '../images/sprite.png', 'icon-read-later', );
$icon-white-right-arrow-name: 'icon-white-right-arrow';
$icon-white-right-arrow-x: 43px;
$icon-white-right-arrow-y: 13px;
$icon-white-right-arrow-offset-x: -43px;
$icon-white-right-arrow-offset-y: -13px;
$icon-white-right-arrow-width: 17px;
$icon-white-right-arrow-height: 14px;
$icon-white-right-arrow-total-width: 77px;
$icon-white-right-arrow-total-height: 58px;
$icon-white-right-arrow-image: '../images/sprite.png';
$icon-white-right-arrow: (43px, 13px, -43px, -13px, 17px, 14px, 77px, 58px, '../images/sprite.png', 'icon-white-right-arrow', );
$spritesheet-width: 77px;
$spritesheet-height: 58px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-age-limit, $icon-black-count-comment, $icon-black-count-like, $icon-black-count-show, $icon-black-right-arrow, $icon-brick-count-comment, $icon-brick-count-like, $icon-brick-count-show, $icon-count-comment, $icon-count-like, $icon-count-show, $icon-login, $icon-loupe-white, $icon-lupa, $icon-read-later, $icon-white-right-arrow, );
$spritesheet: (77px, 58px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  background-repeat: no-repeat;
}

@mixin sprite-box($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  display: inline-block;
  background-repeat: no-repeat;
}

@mixin sprite-pseudo-box($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
