/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-age-limit-name: 'icon-age-limit';
$icon-age-limit-x: 0px;
$icon-age-limit-y: 0px;
$icon-age-limit-offset-x: 0px;
$icon-age-limit-offset-y: 0px;
$icon-age-limit-width: 22px;
$icon-age-limit-height: 22px;
$icon-age-limit-total-width: 60px;
$icon-age-limit-total-height: 48px;
$icon-age-limit-image: '../images/sprite.png';
$icon-age-limit: (0px, 0px, 0px, 0px, 22px, 22px, 60px, 48px, '../images/sprite.png', 'icon-age-limit', );
$icon-black-count-comment-name: 'icon-black-count-comment';
$icon-black-count-comment-x: 0px;
$icon-black-count-comment-y: 36px;
$icon-black-count-comment-offset-x: 0px;
$icon-black-count-comment-offset-y: -36px;
$icon-black-count-comment-width: 12px;
$icon-black-count-comment-height: 12px;
$icon-black-count-comment-total-width: 60px;
$icon-black-count-comment-total-height: 48px;
$icon-black-count-comment-image: '../images/sprite.png';
$icon-black-count-comment: (0px, 36px, 0px, -36px, 12px, 12px, 60px, 48px, '../images/sprite.png', 'icon-black-count-comment', );
$icon-black-count-like-name: 'icon-black-count-like';
$icon-black-count-like-x: 50px;
$icon-black-count-like-y: 0px;
$icon-black-count-like-offset-x: -50px;
$icon-black-count-like-offset-y: 0px;
$icon-black-count-like-width: 10px;
$icon-black-count-like-height: 15px;
$icon-black-count-like-total-width: 60px;
$icon-black-count-like-total-height: 48px;
$icon-black-count-like-image: '../images/sprite.png';
$icon-black-count-like: (50px, 0px, -50px, 0px, 10px, 15px, 60px, 48px, '../images/sprite.png', 'icon-black-count-like', );
$icon-black-count-show-name: 'icon-black-count-show';
$icon-black-count-show-x: 29px;
$icon-black-count-show-y: 22px;
$icon-black-count-show-offset-x: -29px;
$icon-black-count-show-offset-y: -22px;
$icon-black-count-show-width: 11px;
$icon-black-count-show-height: 8px;
$icon-black-count-show-total-width: 60px;
$icon-black-count-show-total-height: 48px;
$icon-black-count-show-image: '../images/sprite.png';
$icon-black-count-show: (29px, 22px, -29px, -22px, 11px, 8px, 60px, 48px, '../images/sprite.png', 'icon-black-count-show', );
$icon-brick-count-comment-name: 'icon-brick-count-comment';
$icon-brick-count-comment-x: 17px;
$icon-brick-count-comment-y: 22px;
$icon-brick-count-comment-offset-x: -17px;
$icon-brick-count-comment-offset-y: -22px;
$icon-brick-count-comment-width: 12px;
$icon-brick-count-comment-height: 12px;
$icon-brick-count-comment-total-width: 60px;
$icon-brick-count-comment-total-height: 48px;
$icon-brick-count-comment-image: '../images/sprite.png';
$icon-brick-count-comment: (17px, 22px, -17px, -22px, 12px, 12px, 60px, 48px, '../images/sprite.png', 'icon-brick-count-comment', );
$icon-brick-count-like-name: 'icon-brick-count-like';
$icon-brick-count-like-x: 40px;
$icon-brick-count-like-y: 16px;
$icon-brick-count-like-offset-x: -40px;
$icon-brick-count-like-offset-y: -16px;
$icon-brick-count-like-width: 10px;
$icon-brick-count-like-height: 15px;
$icon-brick-count-like-total-width: 60px;
$icon-brick-count-like-total-height: 48px;
$icon-brick-count-like-image: '../images/sprite.png';
$icon-brick-count-like: (40px, 16px, -40px, -16px, 10px, 15px, 60px, 48px, '../images/sprite.png', 'icon-brick-count-like', );
$icon-brick-count-show-name: 'icon-brick-count-show';
$icon-brick-count-show-x: 36px;
$icon-brick-count-show-y: 36px;
$icon-brick-count-show-offset-x: -36px;
$icon-brick-count-show-offset-y: -36px;
$icon-brick-count-show-width: 11px;
$icon-brick-count-show-height: 8px;
$icon-brick-count-show-total-width: 60px;
$icon-brick-count-show-total-height: 48px;
$icon-brick-count-show-image: '../images/sprite.png';
$icon-brick-count-show: (36px, 36px, -36px, -36px, 11px, 8px, 60px, 48px, '../images/sprite.png', 'icon-brick-count-show', );
$icon-count-comment-name: 'icon-count-comment';
$icon-count-comment-x: 12px;
$icon-count-comment-y: 36px;
$icon-count-comment-offset-x: -12px;
$icon-count-comment-offset-y: -36px;
$icon-count-comment-width: 12px;
$icon-count-comment-height: 12px;
$icon-count-comment-total-width: 60px;
$icon-count-comment-total-height: 48px;
$icon-count-comment-image: '../images/sprite.png';
$icon-count-comment: (12px, 36px, -12px, -36px, 12px, 12px, 60px, 48px, '../images/sprite.png', 'icon-count-comment', );
$icon-count-like-name: 'icon-count-like';
$icon-count-like-x: 40px;
$icon-count-like-y: 0px;
$icon-count-like-offset-x: -40px;
$icon-count-like-offset-y: 0px;
$icon-count-like-width: 10px;
$icon-count-like-height: 16px;
$icon-count-like-total-width: 60px;
$icon-count-like-total-height: 48px;
$icon-count-like-image: '../images/sprite.png';
$icon-count-like: (40px, 0px, -40px, 0px, 10px, 16px, 60px, 48px, '../images/sprite.png', 'icon-count-like', );
$icon-count-show-name: 'icon-count-show';
$icon-count-show-x: 24px;
$icon-count-show-y: 36px;
$icon-count-show-offset-x: -24px;
$icon-count-show-offset-y: -36px;
$icon-count-show-width: 12px;
$icon-count-show-height: 8px;
$icon-count-show-total-width: 60px;
$icon-count-show-total-height: 48px;
$icon-count-show-image: '../images/sprite.png';
$icon-count-show: (24px, 36px, -24px, -36px, 12px, 8px, 60px, 48px, '../images/sprite.png', 'icon-count-show', );
$icon-lupa-name: 'icon-lupa';
$icon-lupa-x: 22px;
$icon-lupa-y: 0px;
$icon-lupa-offset-x: -22px;
$icon-lupa-offset-y: 0px;
$icon-lupa-width: 18px;
$icon-lupa-height: 18px;
$icon-lupa-total-width: 60px;
$icon-lupa-total-height: 48px;
$icon-lupa-image: '../images/sprite.png';
$icon-lupa: (22px, 0px, -22px, 0px, 18px, 18px, 60px, 48px, '../images/sprite.png', 'icon-lupa', );
$icon-white-right-arrow-name: 'icon-white-right-arrow';
$icon-white-right-arrow-x: 0px;
$icon-white-right-arrow-y: 22px;
$icon-white-right-arrow-offset-x: 0px;
$icon-white-right-arrow-offset-y: -22px;
$icon-white-right-arrow-width: 17px;
$icon-white-right-arrow-height: 14px;
$icon-white-right-arrow-total-width: 60px;
$icon-white-right-arrow-total-height: 48px;
$icon-white-right-arrow-image: '../images/sprite.png';
$icon-white-right-arrow: (0px, 22px, 0px, -22px, 17px, 14px, 60px, 48px, '../images/sprite.png', 'icon-white-right-arrow', );
$spritesheet-width: 60px;
$spritesheet-height: 48px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-age-limit, $icon-black-count-comment, $icon-black-count-like, $icon-black-count-show, $icon-brick-count-comment, $icon-brick-count-like, $icon-brick-count-show, $icon-count-comment, $icon-count-like, $icon-count-show, $icon-lupa, $icon-white-right-arrow, );
$spritesheet: (60px, 48px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  background-repeat: no-repeat;
}

@mixin sprite-box($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  display: inline-block;
  background-repeat: no-repeat;
}

@mixin sprite-pseudo-box($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
