/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-age-limit-name: 'icon-age-limit';
$icon-age-limit-x: 0px;
$icon-age-limit-y: 0px;
$icon-age-limit-offset-x: 0px;
$icon-age-limit-offset-y: 0px;
$icon-age-limit-width: 22px;
$icon-age-limit-height: 22px;
$icon-age-limit-total-width: 82px;
$icon-age-limit-total-height: 72px;
$icon-age-limit-image: '../images/sprite.png';
$icon-age-limit: (0px, 0px, 0px, 0px, 22px, 22px, 82px, 72px, '../images/sprite.png', 'icon-age-limit', );
$icon-black-count-comment-name: 'icon-black-count-comment';
$icon-black-count-comment-x: 32px;
$icon-black-count-comment-y: 56px;
$icon-black-count-comment-offset-x: -32px;
$icon-black-count-comment-offset-y: -56px;
$icon-black-count-comment-width: 12px;
$icon-black-count-comment-height: 12px;
$icon-black-count-comment-total-width: 82px;
$icon-black-count-comment-total-height: 72px;
$icon-black-count-comment-image: '../images/sprite.png';
$icon-black-count-comment: (32px, 56px, -32px, -56px, 12px, 12px, 82px, 72px, '../images/sprite.png', 'icon-black-count-comment', );
$icon-black-count-like-name: 'icon-black-count-like';
$icon-black-count-like-x: 10px;
$icon-black-count-like-y: 56px;
$icon-black-count-like-offset-x: -10px;
$icon-black-count-like-offset-y: -56px;
$icon-black-count-like-width: 10px;
$icon-black-count-like-height: 15px;
$icon-black-count-like-total-width: 82px;
$icon-black-count-like-total-height: 72px;
$icon-black-count-like-image: '../images/sprite.png';
$icon-black-count-like: (10px, 56px, -10px, -56px, 10px, 15px, 82px, 72px, '../images/sprite.png', 'icon-black-count-like', );
$icon-black-count-show-name: 'icon-black-count-show';
$icon-black-count-show-x: 51px;
$icon-black-count-show-y: 43px;
$icon-black-count-show-offset-x: -51px;
$icon-black-count-show-offset-y: -43px;
$icon-black-count-show-width: 11px;
$icon-black-count-show-height: 8px;
$icon-black-count-show-total-width: 82px;
$icon-black-count-show-total-height: 72px;
$icon-black-count-show-image: '../images/sprite.png';
$icon-black-count-show: (51px, 43px, -51px, -43px, 11px, 8px, 82px, 72px, '../images/sprite.png', 'icon-black-count-show', );
$icon-black-right-arrow-name: 'icon-black-right-arrow';
$icon-black-right-arrow-x: 65px;
$icon-black-right-arrow-y: 30px;
$icon-black-right-arrow-offset-x: -65px;
$icon-black-right-arrow-offset-y: -30px;
$icon-black-right-arrow-width: 17px;
$icon-black-right-arrow-height: 14px;
$icon-black-right-arrow-total-width: 82px;
$icon-black-right-arrow-total-height: 72px;
$icon-black-right-arrow-image: '../images/sprite.png';
$icon-black-right-arrow: (65px, 30px, -65px, -30px, 17px, 14px, 82px, 72px, '../images/sprite.png', 'icon-black-right-arrow', );
$icon-close-name: 'icon-close';
$icon-close-x: 44px;
$icon-close-y: 56px;
$icon-close-offset-x: -44px;
$icon-close-offset-y: -56px;
$icon-close-width: 7px;
$icon-close-height: 7px;
$icon-close-total-width: 82px;
$icon-close-total-height: 72px;
$icon-close-image: '../images/sprite.png';
$icon-close: (44px, 56px, -44px, -56px, 7px, 7px, 82px, 72px, '../images/sprite.png', 'icon-close', );
$icon-glasses-name: 'icon-glasses';
$icon-glasses-x: 65px;
$icon-glasses-y: 44px;
$icon-glasses-offset-x: -65px;
$icon-glasses-offset-y: -44px;
$icon-glasses-width: 17px;
$icon-glasses-height: 9px;
$icon-glasses-total-width: 82px;
$icon-glasses-total-height: 72px;
$icon-glasses-image: '../images/sprite.png';
$icon-glasses: (65px, 44px, -65px, -44px, 17px, 9px, 82px, 72px, '../images/sprite.png', 'icon-glasses', );
$icon-gray-glasses-name: 'icon-gray-glasses';
$icon-gray-glasses-x: 22px;
$icon-gray-glasses-y: 43px;
$icon-gray-glasses-offset-x: -22px;
$icon-gray-glasses-offset-y: -43px;
$icon-gray-glasses-width: 17px;
$icon-gray-glasses-height: 9px;
$icon-gray-glasses-total-width: 82px;
$icon-gray-glasses-total-height: 72px;
$icon-gray-glasses-image: '../images/sprite.png';
$icon-gray-glasses: (22px, 43px, -22px, -43px, 17px, 9px, 82px, 72px, '../images/sprite.png', 'icon-gray-glasses', );
$icon-input-datepicker-name: 'icon-input-datepicker';
$icon-input-datepicker-x: 65px;
$icon-input-datepicker-y: 0px;
$icon-input-datepicker-offset-x: -65px;
$icon-input-datepicker-offset-y: 0px;
$icon-input-datepicker-width: 17px;
$icon-input-datepicker-height: 16px;
$icon-input-datepicker-total-width: 82px;
$icon-input-datepicker-total-height: 72px;
$icon-input-datepicker-image: '../images/sprite.png';
$icon-input-datepicker: (65px, 0px, -65px, 0px, 17px, 16px, 82px, 72px, '../images/sprite.png', 'icon-input-datepicker', );
$icon-likes-button-name: 'icon-likes-button';
$icon-likes-button-x: 47px;
$icon-likes-button-y: 18px;
$icon-likes-button-offset-x: -47px;
$icon-likes-button-offset-y: -18px;
$icon-likes-button-width: 14px;
$icon-likes-button-height: 22px;
$icon-likes-button-total-width: 82px;
$icon-likes-button-total-height: 72px;
$icon-likes-button-image: '../images/sprite.png';
$icon-likes-button: (47px, 18px, -47px, -18px, 14px, 22px, 82px, 72px, '../images/sprite.png', 'icon-likes-button', );
$icon-load-messages-name: 'icon-load-messages';
$icon-load-messages-x: 22px;
$icon-load-messages-y: 0px;
$icon-load-messages-offset-x: -22px;
$icon-load-messages-offset-y: 0px;
$icon-load-messages-width: 25px;
$icon-load-messages-height: 19px;
$icon-load-messages-total-width: 82px;
$icon-load-messages-total-height: 72px;
$icon-load-messages-image: '../images/sprite.png';
$icon-load-messages: (22px, 0px, -22px, 0px, 25px, 19px, 82px, 72px, '../images/sprite.png', 'icon-load-messages', );
$icon-login-name: 'icon-login';
$icon-login-x: 0px;
$icon-login-y: 22px;
$icon-login-offset-x: 0px;
$icon-login-offset-y: -22px;
$icon-login-width: 21px;
$icon-login-height: 21px;
$icon-login-total-width: 82px;
$icon-login-total-height: 72px;
$icon-login-image: '../images/sprite.png';
$icon-login: (0px, 22px, 0px, -22px, 21px, 21px, 82px, 72px, '../images/sprite.png', 'icon-login', );
$icon-loupe-white-name: 'icon-loupe-white';
$icon-loupe-white-x: 21px;
$icon-loupe-white-y: 22px;
$icon-loupe-white-offset-x: -21px;
$icon-loupe-white-offset-y: -22px;
$icon-loupe-white-width: 20px;
$icon-loupe-white-height: 20px;
$icon-loupe-white-total-width: 82px;
$icon-loupe-white-total-height: 72px;
$icon-loupe-white-image: '../images/sprite.png';
$icon-loupe-white: (21px, 22px, -21px, -22px, 20px, 20px, 82px, 72px, '../images/sprite.png', 'icon-loupe-white', );
$icon-lupa-name: 'icon-lupa';
$icon-lupa-x: 47px;
$icon-lupa-y: 0px;
$icon-lupa-offset-x: -47px;
$icon-lupa-offset-y: 0px;
$icon-lupa-width: 18px;
$icon-lupa-height: 18px;
$icon-lupa-total-width: 82px;
$icon-lupa-total-height: 72px;
$icon-lupa-image: '../images/sprite.png';
$icon-lupa: (47px, 0px, -47px, 0px, 18px, 18px, 82px, 72px, '../images/sprite.png', 'icon-lupa', );
$icon-read-later-name: 'icon-read-later';
$icon-read-later-x: 0px;
$icon-read-later-y: 43px;
$icon-read-later-offset-x: 0px;
$icon-read-later-offset-y: -43px;
$icon-read-later-width: 22px;
$icon-read-later-height: 13px;
$icon-read-later-total-width: 82px;
$icon-read-later-total-height: 72px;
$icon-read-later-image: '../images/sprite.png';
$icon-read-later: (0px, 43px, 0px, -43px, 22px, 13px, 82px, 72px, '../images/sprite.png', 'icon-read-later', );
$icon-white-count-comment-name: 'icon-white-count-comment';
$icon-white-count-comment-x: 20px;
$icon-white-count-comment-y: 56px;
$icon-white-count-comment-offset-x: -20px;
$icon-white-count-comment-offset-y: -56px;
$icon-white-count-comment-width: 12px;
$icon-white-count-comment-height: 12px;
$icon-white-count-comment-total-width: 82px;
$icon-white-count-comment-total-height: 72px;
$icon-white-count-comment-image: '../images/sprite.png';
$icon-white-count-comment: (20px, 56px, -20px, -56px, 12px, 12px, 82px, 72px, '../images/sprite.png', 'icon-white-count-comment', );
$icon-white-count-like-name: 'icon-white-count-like';
$icon-white-count-like-x: 0px;
$icon-white-count-like-y: 56px;
$icon-white-count-like-offset-x: 0px;
$icon-white-count-like-offset-y: -56px;
$icon-white-count-like-width: 10px;
$icon-white-count-like-height: 16px;
$icon-white-count-like-total-width: 82px;
$icon-white-count-like-total-height: 72px;
$icon-white-count-like-image: '../images/sprite.png';
$icon-white-count-like: (0px, 56px, 0px, -56px, 10px, 16px, 82px, 72px, '../images/sprite.png', 'icon-white-count-like', );
$icon-white-count-show-name: 'icon-white-count-show';
$icon-white-count-show-x: 39px;
$icon-white-count-show-y: 43px;
$icon-white-count-show-offset-x: -39px;
$icon-white-count-show-offset-y: -43px;
$icon-white-count-show-width: 12px;
$icon-white-count-show-height: 8px;
$icon-white-count-show-total-width: 82px;
$icon-white-count-show-total-height: 72px;
$icon-white-count-show-image: '../images/sprite.png';
$icon-white-count-show: (39px, 43px, -39px, -43px, 12px, 8px, 82px, 72px, '../images/sprite.png', 'icon-white-count-show', );
$icon-white-right-arrow-name: 'icon-white-right-arrow';
$icon-white-right-arrow-x: 65px;
$icon-white-right-arrow-y: 16px;
$icon-white-right-arrow-offset-x: -65px;
$icon-white-right-arrow-offset-y: -16px;
$icon-white-right-arrow-width: 17px;
$icon-white-right-arrow-height: 14px;
$icon-white-right-arrow-total-width: 82px;
$icon-white-right-arrow-total-height: 72px;
$icon-white-right-arrow-image: '../images/sprite.png';
$icon-white-right-arrow: (65px, 16px, -65px, -16px, 17px, 14px, 82px, 72px, '../images/sprite.png', 'icon-white-right-arrow', );
$spritesheet-width: 82px;
$spritesheet-height: 72px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-age-limit, $icon-black-count-comment, $icon-black-count-like, $icon-black-count-show, $icon-black-right-arrow, $icon-close, $icon-glasses, $icon-gray-glasses, $icon-input-datepicker, $icon-likes-button, $icon-load-messages, $icon-login, $icon-loupe-white, $icon-lupa, $icon-read-later, $icon-white-count-comment, $icon-white-count-like, $icon-white-count-show, $icon-white-right-arrow, );
$spritesheet: (82px, 72px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  background-repeat: no-repeat;
}

@mixin sprite-box($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  display: inline-block;
  background-repeat: no-repeat;
}

@mixin sprite-pseudo-box($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
