/* Import helpers */
@import "helpers/sprite";
@import "helpers/extends";
@import "helpers/variables";
@import "helpers/mixins";

/* Import reset */
@import "base/reset";

/* Import vendors */
@import "vendors/font-awesome.min";
@import "vendors/mq";
@import "vendors/swiper";
@import "vendors/switchery.min";
@import "vendors/md-preloader.min";

/* Import base */
@import "base/common";
@import "base/grid";
@import "base/color-modifiers";

/* Import layout */
@import "layout/forms";
@import "layout/footer";
@import "layout/header";

/* Import components */
@import "components/bricks";
@import "components/slider";
@import "components/counter-block";
@import "components/today-main-list";
@import "components/news-list";
@import "components/live-list-news";
@import "components/opinion";
@import "components/search-rubric";
@import "components/videosection";
@import "components/alasliderimage";
@import "components/accordion";
@import "components/socials";
@import "components/main-nav";
@import "components/tabs";
@import "components/author-container";
@import "components/likes-button";
@import "components/save-button";
@import "components/article-tags";
@import "components/show-updates";
@import "components/comments";
@import "components/burger-button";
@import "components/socials-article";
@import "components/show-more-button";
@import "components/quote-block";
@import "components/read-also";
@import "components/read-also-text";
@import "components/mini-brick";
@import "components/vote-block";
@import "components/hidden";
@import "components/menu";
@import "components/most";
@import "components/datepicker-bottom";
@import "components/author-info";
@import "components/article-title";
@import "components/photoreports";
@import "components/my-comment";
@import "components/weather";
@import "components/article-text";
@import "components/read-more";
@import "components/all-materials";
@import "components/materials";
@import "components/search-result";
@import "components/search-form";
@import "components/my-label";
@import "components/filters";
@import "components/slider-page";
@import "components/button";
@import "components/page-tabs";
@import "components/author";
@import "components/share";

/* Do not write styles here. This is file for build. */