<div class="alasliderimage">
    <a href="#" class="alasliderimage__image" title="">
        @@if (context.image === 1){
        <img src="http://www.ridus.ru/images/2015/11/27/339969/in_article_f324f74275.png" alt="">
        }
        @@if (context.image === 2){
        <img src="http://www.ridus.ru/images/2015/12/1/340559/in_article_e6d5d3c187.jpg" alt="">
        }
        @@if (context.image === 3){
        <img src="https://www.ridus.ru/images/2016/3/9/374241/in_article_6e0fbfdc98.jpg" alt="">
        }
        @@if (context.image === 4){
        <img src="https://www.ridus.ru/images/2016/3/9/374241/in_article_6e0fbfdc98.jpg" alt="">
        }
        @@if (context.image === 5){
        <img src="http://www.ridus.ru/images/2015/11/27/339969/in_article_f324f74275.png" alt="">
        }
        @@if (context.image === 6){
        <img src="https://www.ridus.ru/images/2016/3/9/374241/in_article_6e0fbfdc98.jpg" alt="">
        }
        @@if (context.image === 7){
        <img src="https://www.ridus.ru/images/2016/3/9/374241/in_article_6e0fbfdc98.jpg" alt="">
        }
    </a>

    <div class="alasliderimage__text">
        <a href="#life" class="brick__label" title="">жизнь</a>
        <p>
            @@if (context.image === 1){
            Реорганизация общественного транспорта в Москве
            }
            @@if (context.image === 2){
            Оздоравливание озоном - новый тренд
            }
            @@if (context.image === 3){
            На главном проспекте установят новые говорящие остановки
            }
            @@if (context.image === 4){
            Новая головоломка сбила с толку весь Интеренет
            }
            @@if (context.image === 5){
            Реорганизация речного транспорта в Москве
            }
            @@if (context.image === 6){
            Олимпийский робото-футбол
            }
            @@if (context.image === 7){
            Регулярные войска идут на Алеппо
            }
        </p>
        @@include('./../components/_counter-block.html', {"like": 0, "comment": 2, "show": 408, "colorClass": "white"})
        <!--<a href="#" class="clickable"></a>-->
    </div>
    @@if (context.typelabel === 1){
        <span class="brick__typeLabel">трансляция</span>
    }

    <!--<a href="#" class="clickable"></a>-->
</div>