@@if (context.image === 1){
<a href="#" class="brick__image" style="background-image: url(http://www.ridus.ru/images/avatars/143296/large_4826eae277.jpg)"></a>
}
@@if (context.image === 2){
<a href="#" class="brick__image" style="background-image: url(http://www.ridus.ru/images/avatars/151502/large_457d41f144.jpg)"></a>
}
@@if (context.image === 3){
<a href="#" class="brick__image" style="background-image: url(http://www.ridus.ru/images/avatars/141718/large_b7147dcd85.jpg)"></a>
}
@@if (context.image === 4){
<a href="#" class="brick__image" style="background-image: url(http://www.ridus.ru/images/avatars/90453/large_c1a8beb7f7.jpg)"></a>
}

<div class="brick__content">
    @@if (context.image === 1){
    <a href="#" class="brick__mainLink" title="">Петр Петрович</a>
	<p class="brick__text">
		Корреспондент «Изборского клуба»
	</p>
    }
    @@if (context.image === 2){
    <a href="#" class="brick__mainLink" title="">Василий Василич</a>
	<p class="brick__text">
		Эксперт в вопросах борьбы с терроризмом, профессор МГИМО
	</p>
    }
    @@if (context.image === 3){
    <a href="#" class="brick__mainLink" title="">Иван Иванейко</a>
	<p class="brick__text">
		Эксперт в вопросах борьбы с терроризмом
	</p>
    }
</div>
@@include('./../components/_author-counter-block.html', {"articles": 2, "show": 408})