@@if (context.image === 1){
    <div class="brick__image" style="background-image: url(http://molbiol.ru/forums/uploads/a003/b047/post-24502-1338479907.jpg)">
}
@@if (context.image === 2){
    <div class="brick__image" style="background-image: url(http://f1.s.qip.ru/jAMAwieF.jpg)">
}
@@if (context.image === 3){
    <div class="brick__image" style="background-image: url(http://joinfo.ua/images/news/2013/03/130320_01.jpg&prefix=slider310&a=310&b=250)">
}

    @@if (context.important === true){
        <i class="important">важное</i>
    }

    @@if (context.video === true){
        <i class="brick__videoIcon"></i>
    }

    @@if (context.typelabel === 1){
        <span class="brick__typeLabel">спецрепортаж</span>
    }
    @@if (context.typelabel === 2){
        <span class="brick__typeLabel">обзор прессы</span>
    }

    @@if (context.label === 11){
        <a href="#11" class="brick__label brick__label-position" title="">Антон плисецкий</a>
    }
    @@if (context.label === 12){
        <a href="#12" class="brick__label brick__label-position" title="">Степан липсченко</a>
    }
    @@if (context.label === 13){
        <a href="#13" class="brick__label brick__label-position" title="">Павел Горохов</a>
    }

    @@if (context.label === 21){
        <span class="brick__label-position">
            <a href="#g" class="brick__label" title="">Гражданская журналистика</a>
            <br>
            <a href="#p" class="brick__label" title="">Политика</a>
        </span>
    }
    @@if (context.label === 22){
        <span class="brick__label-position">
            <a href="#i" class="brick__label" title="">Интересное</a>
            <br>
            <a href="#l" class="brick__label" title="">Жизнь</a>
        </span>
    }

    @@if (context.label === 31){
        <a href="#31" class="brick__label brick__label-position" title="">здоровье</a>
    }
    @@if (context.label === 32){
        <a href="#32" class="brick__label brick__label-position" title="">знаменитости</a>
    }
    @@if (context.label === 33){
        <a href="#33" class="brick__label brick__label-position" title="">кино</a>
    }
    @@if (context.label === "c1"){
        <a href="#c1" class="brick__fullscreenLabel" title="">+145 &nbsp;</a>
    }
    @@if (context.label === "c2"){
        <a href="#c2" class="brick__fullscreenLabel" title="">+12 &nbsp;</a>
    }
    @@if (context.label !== "c1" && context.label !== "c2"){
        <a href="#" class="clickable"></a>
    }

    </div>

<div class="brick__content">
    @@if (context.data === 1){
        <div class="brick__mainLinkWrapper">
            <a href="#" class="brick__mainLink" title="">Исследование: где в Москве опаснее безопаснее всего жить</a>
            <p class="brick__mainLinkDate">сегодня</p>
        </div>
        <p class="brick__text">
            Каждый старшеклассник знает, что сила тока измеряется в амперах. В чем измерить?
        </p>
    }
    @@if (context.data === 2){
        <div class="brick__mainLinkWrapper">
            <a href="#" class="brick__mainLink" title="">Известная модель надела паранджу после операции шмоперации</a>
            <p class="brick__mainLinkDate">сегодня</p>
        </div>
        <p class="brick__text">
            Главный научный сотрудник лаборатории солнечного ветра ИКИ РАН Олег Вайсберг рассказал.
        </p>
    }
    @@if (context.data === 3){
        <div class="brick__mainLinkWrapper">
            <a href="#" class="brick__mainLink" title="">На борту А321 могла взорваться жидкая бомба</a>
            <p class="brick__mainLinkDate">вчера</p>
        </div>
        <p class="brick__text">
            Эксперт по борьбе с терроризмом Ронен Соломон заявил, что российский аэробус мог быть взорван.
        </p>
    }
    @@if (context.data === 4){
        <div class="brick__mainLinkWrapper">
            <a href="#" class="brick__mainLink" title="">На главном проспекте установят новые говорящие осановки</a>
            <p class="brick__mainLinkDate">сегодня</p>
        </div>
        <p class="brick__text">
            Политологи рассуждают о том, к чему в конечном итоге может привести внутрипартийный раскол в ПАРНАС.
        </p>
    }
    @@if (context.data === 5){
        <div class="brick__mainLinkWrapper">
            <a href="#" class="brick__mainLink" title="">Сенат одобрил заслон от расхитителей леса. </a>
            <p class="brick__mainLinkDate">сегодня</p>
        </div>
        <p class="brick__text">
            Политологи рассуждают о том, к чему в конечном итоге может привести внутрипартийный раскол в ПАРНАС.
        </p>
    }
    @@if (context.data === 6){
    <div class="brick__mainLinkWrapper">
        <a href="#" class="brick__mainLink" title="">На главном мосту могла взорваться жидкая бомба в поезде</a>
        <p class="brick__mainLinkDate">сегодня</p>
    </div>
    <p class="brick__text">
        Эксперт по борьбе с терроризмом Ронен Соломон заявил, что российский аэробус мог быть взорван.
    </p>
    }
    @@if (context.data === 7){
    <div class="brick__mainLinkWrapper">
        <a href="#" class="brick__mainLink" title="">Россияне не собираются отказываться от недвижимости за границей</a>
        <p class="brick__mainLinkDate">сегодня</p>
    </div>
    <p class="brick__text">
        Россияне почти прекратили покупать жилье за границей. Что говорят эксперты рынка?
    </p>
    }
    @@if (context.data === "1x"){
        <div class="brick__mainLinkWrapper">
            <a href="#" class="brick__mainLink" title="">Исследование: где в Москве опаснее безопаснее всего жить</a>
        </div>
        <p class="brick__text">
            Каждый старшеклассник знает, что сила тока измеряется в амперах. В чем измерить?
        </p>
    }
    @@if (context.data === "2x"){
        <div class="brick__mainLinkWrapper">
            <a href="#" class="brick__mainLink" title="">Известная модель надела паранджу после операции шмоперации</a>
        </div>
        <p class="brick__text">
            Главный научный сотрудник лаборатории солнечного ветра ИКИ РАН Олег Вайсберг рассказал.
        </p>
    }
    @@if (context.data === "3x"){
        <div class="brick__mainLinkWrapper">
            <a href="#" class="brick__mainLink" title="">На борту А321 могла взорваться жидкая бомба</a>
        </div>
        <p class="brick__text">
            Эксперт по борьбе с терроризмом Ронен Соломон заявил, что российский аэробус мог быть взорван.
        </p>
    }
    @@if (context.data === "4x"){
        <div class="brick__mainLinkWrapper">
            <a href="#" class="brick__mainLink" title="">На борту А321 могла взорваться жидкая бомба</a>
        </div>
        <p class="brick__text">
            Эксперт по борьбе с терроризмом Ронен Соломон заявил, что российский аэробус мог быть взорван.<br>
            <a href="#c" class="brick__moreLink" title="">Читать дальше</a>
        </p>
    }
    @@if (context.data === "c1"){
        <div class="brick__mainLinkWrapper">
            <a href="#" class="brick__mainLink" title="">Фотоматериалы</a> <span class="rick__mainLinkCounter">145</span>
        </div>
        <span class="brick__mainLinkDate">06 августа 2013 — 15 декабря 2015</span>
    }
    @@if (context.data === "c2"){
        <div class="brick__mainLinkWrapper">
            <a href="#" class="brick__mainLink" title="">Видеоматериалы</a> <span class="rick__mainLinkCounter">12</span>
        </div>
        <span class="brick__mainLinkDate">06 августа 2013 — 15 декабря 2015</span>
    }
</div>

@@if (context.counters === true){
    <div class="countersBlock">
        <span class="countersBlock__item countersBlock__item-like view_count1">
            @@like
        </span>
        <span class="countersBlock__item countersBlock__item-comment view_count2">
            @@comment
        </span>
        <span class="countersBlock__item countersBlock__item-show view_count3">
            @@show
        </span>
    </div>
}

@@if (context.action === "read"){
<a href="#" class="readLater">
    <span>читать позже</span>
    <span class="state_hidderHidden">читаю позже</span>
    <i class="icon"><!-- icon --></i>
</a>
}
@@if (context.action === "delete"){
<div class="brick__delete">
    <p>Удалить
        <i class="brick__delete__icon"></i>
    </p>
</div>
}
@@if (context.action === "save"){
<a href="#" class="countersBlock__item readLater view_saved only_icon">
    <i class="icon"><!-- icon --></i>
</a>
<a href="#" class="save">
    <span>Сохранить</span>
</a>
}


@@if (context.videolabel === true){
    <span class="brick__dateLabel">
        <script>
            // генерим случайную дату
            function randomInteger(min, max) {
                var rand = min - 0.5 + Math.random() * (max - min + 1)
                rand = Math.round(rand);
                if (rand < 10) {
                    rand += " ноября"
                }
                if (rand >= 10 && rand < 20) {
                    rand += " декабря"
                }
                if (rand >= 20) {
                    rand += " октября"
                }
                return rand;
            }
            document.write(randomInteger(1, 31))
        </script>
    </span>
}

<a href="#" class="clickable"></a>