.parallax-window {
  min-height: 400px;
  background: transparent;
}

.alasliderimage {
  position: relative;

  &__background {
    display: block;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-image1 {
      background-image: url(http://www.ridus.ru/images/2015/11/27/339969/in_article_f324f74275.png);
    }
    &-image2 {
      background-image: url(http://www.ridus.ru/images/2015/12/1/340559/in_article_e6d5d3c187.jpg);
    }
    &-image3 {
      background-image: url(https://www.ridus.ru/images/2016/3/9/374241/in_article_6e0fbfdc98.jpg);
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 260px;
    overflow: hidden;

    img {
      flex-shrink: 0;
      min-height: 100%;
      min-width: 100%;
    }

    &-parallax {
      display: block;
      position: relative;
      width: 100%; 
      height: 260px; 
      overflow: hidden; 

        img {
          flex-shrink: 0;
          min-height: 100%;
          min-width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
    }
  }

  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 15px 15px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);

    p {
      margin-bottom: 5px;
      font: bold 26px/28px 'Roboto Slab', serif;
      color: $r-white;
    }
  }

  .brick {

    &__typeLabel {
      top: 20px;
      padding: 5px 10px 4px;
      font: 700 16px 'Roboto', sans-serif;

      &:after,
      &:before {
        right: -6px;
      }
    }
  }
}