.alasliderimage {
  position: relative;
  &__image {
    width: 100%;
    display: block;
    height: 213px;
    overflow: hidden;
  }
  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 15px 15px;
    p {
      margin-bottom: 5px;
      font: bold 26px 'Roboto Slab', serif;
      color: $r-white;
    }
  }
}