.avatar-container {
  position: relative;
  display: flex;
  align-items: center;
  &__avatar {
    float: left;
    width: 56px;
    height: 44px;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid $r-avatar-border;
    img {
      width: 100%;
      margin-top: 5px;
      border-radius: 50%;
    }
  }
  &__info {
    font-size: 12px;
    color: $r-848484;
    a {
      text-decoration: underline;
      color: inherit;
      &:before {
        display: inline-block;
        content: "";
        width: .286em;
        height: .286em;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: .24em;
        background: $r-orange;
      }
    }
  }
}