/* ----- brick.scss ----- */

.brick {
  position: relative;
  padding-bottom: 10px;

  &__image {
    position: relative;
    height: 108px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
  }

  &__content {
    h4,
    h4 a {
      text-decoration: none;
      color: $r-black;
    }

    h5,
    h5 a {
      line-height: 1.1;
      color: $r-black;
      text-decoration: none;
      margin-bottom: 5px;
    }
  }

  &__mainLinkWrapper {
    margin-bottom: 3px;
  }

  &__mainLink {
    font: bold 16px/18px 'Roboto Slab', serif;
    color: $r-black;
    text-decoration: none;
  }

  &__text {
    margin-bottom: 4px;
    color: $r-black;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
  }

  &__mainLinkDate {
    margin-top: 3px;
    font: 300 10px 'Roboto', sans-serif;
    color: $r-dark-gray;
    text-transform: uppercase;
  }


  &__dateLabel {
    z-index: 20;
    position: absolute;
    top: -7px;
    left: -7px;
    padding: 4px 7px;
    color: $r-white;
    font-weight: bold;
    background: $r-black;
  }

  &__typeLabel {
    position: absolute;
    left: 0;
    top: 0;
    padding: 6px 10px 5px;
    font: 700 12px 'Roboto', sans-serif;
    text-transform: uppercase;
    background: $r-orange;

    &:after,
    &:before {
      content: "";
      position: absolute;
      right: -6px;
      border-left: 3px solid $r-orange;
      border-right: 3px solid transparent;
    }
    &:before {
      top: 0;
      border-bottom: 8px solid transparent;
      border-top: 8px solid $r-orange;
    }
    &:after {
      bottom: 0;
      border-bottom: 8px solid $r-orange;
      border-top: 8px solid transparent;
    }
  }


  &__videoIcon {
    z-index: 20;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 23px;
    height: 23px;
    background: $r-light-orange;

    &:after {
      content: "";
      position: absolute;
      left: 8px;
      top: 6px;
      border: 6px solid transparent;
      border-left: 10px solid $r-black;
    }
  }

  &__label-position {
    z-index: 20;
    position: absolute;
    bottom: 7px;
    left: 0px;
    line-height: 0;
  }
  &__label {
    display: inline-block;
    margin-bottom: 2px;
    padding: 3px 5px 1px;
    font: bold 9px/1.2 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: rgba(102,119,135,.7);
    transition: background .15s ease;

    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: #fff !important;
      background: rgba(102,119,135,1);
    }
  }


  &__header {
    background: $r-orange;
    box-sizing: border-box;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    color: #000;
    padding-top: 13px;
    padding-bottom: 13px;
    &-gray {
      background: $r-light-gray;
    }
  }

  &__delete {
    margin-top: 10px;
    padding: 12px 0;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    color: $r-text-gray;
    background: $r-light-gray;
    &__icon {
      margin-left: 5px;
      @include sprite-pseudo-box($icon-close);
    }
  }

  &__save {
    margin-top: 10px;
    padding: 12px 0;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    color: $r-text-gray;
    background: $r-light-gray;
    &__icon {
      @include sprite-pseudo-box($icon-glasses);
    }
  }
}

.col-6 .brick .brick__mainLinkDate,
.col-6 .brick .brick__text {
  display: none;
}

.view_centred {
  text-align: center;
}

.border_yellow {
  border: 2px solid $r-orange;
}

.bricksContainer .yellowButton {
  margin-bottom: 15px;
  display: inline-block;
}

.bricksWrapper {
  padding-bottom: 1px;

  .row {
    margin-bottom: 5px;
  }
}