.burgerButton {
	position: fixed;
	right: 0;
	top: 3px;
	z-index: 666;
	display: block;
	width: 40px;
	padding: 8px 0;

	li {
		width: 4px;
		height: 4px;
		margin: 3px auto;
		background: rgba(255,255,255,1);
		transition: .25s ease-in-out;

		&:nth-child(2) {
			position: relative;
		}

		&:nth-child(2):before,
		&:nth-child(2):after {
			content: '';
			position: absolute;
			left: -50%;
			display: block;
			width: 20px;
			height: 2px;
			margin: 1px 0 0 -6px;
			transform: rotate(45deg);
			background: rgba(255,255,255,0);
			transition: .25s ease-in-out;
		}

		&:nth-child(2):after {
			transform: rotate(-45deg);
		}
	}
}

.state_open {
	&.burgerButton {
		li {
			background: rgba(255,255,255,0);

			&:nth-child(2):before,
			&:nth-child(2):after {
				background: rgba(255,255,255,1);
			}
		}
	}
}

.bgColor_white,
.bgColor_blue {
	.burgerButton li {
		background: rgba(0,0,0,1);

		&:nth-child(2):before,
		&:nth-child(2):after {
			background: rgba(0,0,0,0);
		}
	}

	.state_open {
		&.burgerButton {
			li {
				background: rgba(0,0,0,0);

				&:nth-child(2):before,
				&:nth-child(2):after {
					background: rgba(0,0,0,1);
				}
			}
		}
	}

}

.section-title .burgerButton {
	position: absolute;
	top: 50%;
	margin-top: -20px;
}