.button {
  &__icon {
    display: block;
    position: relative;
    background: $r-orange;
    padding: 15px 0;
    font: bold 13px 'Roboto Slab', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    .icon {
      position: absolute;
      right: 83px;
      top: 19px;
      display: inline-block;
      border: 5px solid transparent;
      border-left: 5px solid $r-black;
    }
  }
}