.comments {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;

  &__expand {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin-left: 10px;
    transform: translateY(3px);
    background: $r-orange;
    text-align: center;
    cursor: pointer;

    &:after {
      content: "";
      display: inline-block;
      border: 5px solid transparent;
      border-top: 5px solid #000;
    }

    &__open {
      &:after {
        border: 5px solid transparent;
        border-bottom: 5px solid #000;
        vertical-align: 6px;
      }
    }
  }

  &__content {
    display: none;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 500;
    text-transform: none;

    &__open {
      display: block;
    }

    .socials {
      margin-top: 20px;
      justify-content: flex-start;

      .socialNetwork__link {
        background: $r-socials;
      }
    }
  }
}