/* ----- counter-block.scss ----- */

.countersBlock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
  font: 700 11px 'Roboto', sans-serif;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: $r-black;
    opacity: 0.3;

    &:after {
      margin-left: 5px;
      margin-bottom: 1px;
    }

    &-like:after {
      content: '';
      @include sprite(like-black);
    }

    &-comment:after {
      content: '';
      @include sprite(comments-black);
    }

    &-show:after {
      content: '';
      @include sprite(seen-black);
    }
    &-articles:after {
      content: '';
      @include sprite(seen-black);
    }
    &-readLater {
      text-decoration: none;
      color: $r-black;
      border-radius: 10px;
      padding: 5px 6px 4px 6px;
      font-weight: normal;
      font-size: 10px;
      z-index: 25;
      text-transform: uppercase;

      &:after {
        content: '';
        @include sprite(save-black);
      }
  
      &.view_saved {
        opacity: 1 !important;
        background: #c64a1b;
        color: $r-white;

        &:after {
          @include sprite(save-white);
        }
      }
    }
  }
}

.col-6 .brick .countersBlock__item,
.todayMainNewsList .countersBlock__item,
.newsList .countersBlock__item {
  margin-right: 10px;

  &-readLater {
    font-size: 0;
    margin: 0;

    span {
      display: none;
    }

    &:after {
      margin-left: 0;
    }
  }
}

.countersBlock.white,
.counters-white {
  .countersBlock__item {
    color: $r-white;
    opacity: 0.5;

    &-like:after {
      content: '';
      @include sprite(like-white);
    }

    &-comment:after {
      content: '';
      @include sprite(comments-white);
    }

    &-show:after {
      content: '';
      @include sprite(seen-white);
    }
  
    &-readLater {
      color: $r-white;

      &:after {
        @include sprite(save-white);
      }
    }
  }
}
.row_header .countersBlock__item-readLater {
  display: none;
}

.view_count4 .icon {
    width: 9px;
    height: 11px;
    right: -13px;
    top: 1px;
    background-image: url(./../images/articles-count.png);
    position: absolute;
}