/* ----- counter-block.scss ----- */

.countersBlock {
  display: flex;
  align-items: center;
  font: 700 11px 'Roboto', sans-serif;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: $r-black;
    opacity: 0.3;

    &:after {
      margin-left: 5px;
    }

    &-like:after {
      content: '';
      @include sprite(like-black);
    }

    &-comment:after {
      content: '';
      @include sprite(comments-black);
    }

    &-show:after {
      content: '';
      @include sprite(seen-black);
    }
    &-articles:after {
      content: '';
      @include sprite(seen-black);
    }
  }
}

.countersBlock.white,
.counters-white {
  .countersBlock__item {
    color: $r-white;
    opacity: 0.5;

    &-like:after {
      content: '';
      @include sprite(like-white);
    }

    &-comment:after {
      content: '';
      @include sprite(comments-white);
    }

    &-show:after {
      content: '';
      @include sprite(seen-white);
    }
  }
}