.datepicker-bottom {
  padding: 20px 15px;

  label {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: $r-text-light-gray;
  }

  &__row {
    position: relative;
    margin-bottom: 8px;

    input {
      width: calc(100% - 27px);
      margin-left: -4px;
      padding-left: 40px;
    }

    label {
      display: inline-block;
      width: 27px;
    }

    &:after {
      content: '';
      @include sprite(calendar);
      position: absolute;
      left: 39px;
      top: 9px;
    }

    .yellowButton {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 13px;

      .corner:before {
        border: 5px solid #eee;
        border-bottom-color: #000;
        border-left-color: #000;
      }
    }
  }
}
.in-component {
  padding: 0;

  .yellowButton.view_big {
    margin-left: 26px;
    width: calc(100% - 53px);
    text-align: center;
  }
}