.datepicker-bottom {
  padding: 20px 15px;
  label {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: $r-text-light-gray;
  }
  &__from {
    margin-top: 12px;
    margin-bottom: 8px;
    input {
      width: calc(100% - 27px);
      margin-left: -4px;
      padding-left: 40px;
    }
    label {
      display: inline-block;
      width: 27px;
      &:after {
        @include sprite-pseudo-box($icon-input-datepicker);
        position: absolute;
        left: 54px;
      }
    }
  }
  &__to {
    position: relative;
    margin-bottom: 6px;
    input {
      width: calc(100% - 102px);
      margin-left: -4px;
      padding-left: 40px;
    }
    a {
      position: absolute;
      right: 6px;
      top: 0;
      font-size: 13px;
    }
    label {
      display: inline-block;
      width: 27px;
      &:after {
        @include sprite-pseudo-box($icon-input-datepicker);
        position: absolute;
        left: 39px;
      }
    }
  }
}