.likes__button {
  display: inline-block;
  margin-bottom: 30px;
  border: 1px solid $r-light-gray;
  background: $r-white;

  &__link {
    display: inline-block;
    height: 32px;
    width: 31px;
    background: $r-light-gray;
    color: $r-likes-button-link;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    line-height: 34px;
    text-decoration: none;
  }

  span {
    display: inline-block;
    height: 32px;
    padding-right: 5px;
    color: $r-likes-button-text;
    vertical-align: top;
    line-height: 34px;
    font-size: 13px;

    &:before {
      content: '';
      @include sprite(like-green);
      margin-right: 5px;
      vertical-align: -3px;
    }
  }
}
.row_header .likes__button{
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.7;
}