.livelist {
  &__news {
    padding: 18px 18px 0 18px;
    font-size: 13px;

    &-title {
      font-weight: 700;
      font-family: 'Roboto Slab', serif;
      font-size: 21px;
      margin-bottom: 15px;
    }
  }
  &__items {
    list-style-type: decimal;
    list-style-position: inside;
  }
  &__item {
    position: relative;
    margin-bottom: 25px;
    padding-left: 60px;
    list-style-type: none;
    &:before {
      position: absolute;
      left: 0;
      top: 1px;
      padding: 2px 0;
      width: 45px;
      content: attr(data-time);
      background-color: #000;
      color: #fff;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
    }
    &:after {
      left: 45px;
      top: 7px;
      content: "";
      position: absolute;
      border: 3px solid transparent;
      border-left: 3px solid #000;
    }
  }
  &__link {
    color: #343434;
    text-decoration: none;
  }
}