.nav-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	visibility: hidden;
	transition: opacity 100ms ease-out;
}
.nav {
	z-index: 444;
	overflow: scroll;
	width: 250px;
	height: 100%;
	margin-left: -100%;
	padding: 15px;
	background: $r-main-nav-bg;
	transition: all 200ms ease-out;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;

		.header__readLater {
			display: block;
			font-size: 0;
			color: $r-white;
			text-decoration: none;

			.circle {
				display: inline-block;
				width: 30px;
				height: 30px;
				margin: 0 5px 0 0;
				background-color: $r-carrot;
				border-radius: 50%;
				vertical-align: middle;

				&:before {
					content: '';
					transform: translate(-50%, -51%);
					margin-top: 50%;
					margin-left: 50%;

					@include sprite(saved);
				}
			}

			.number {
				font-size: 14px;
				vertical-align: middle;
			}
		}

		.header__logo {
			display: block;
			margin: 0 5px 0 0;
		}

		.header__loginButton {
			display: block;
			text-decoration: none;

			&:before {
				content: '';
				@include sprite(login);
			}
		}
	}

	&__link {
		position: relative;
		display: block;
		padding: 0 0 0 30px;
		margin-bottom: 20px;
		font: 600 21px 'Roboto', sans-serif;
		color: $r-white;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 200ms ease-out;

		&:before {
			content: "";
			position: absolute;
			top: 7px;
			left: 0;
			display: block;
			width: 12px;
			height: 10px;
			background: $r-orange;
		}

		&:after {
			content: "";
			position: absolute;
			top: 7px;
			left: 0;
			display: block;
			border: 5px solid transparent;
			border-left: 2px solid $r-main-nav-bg
		}
	}

	.tagList {
		&__link {
			display: block;
			margin-bottom: 20px;
			font: 600 14px 'Roboto', sans-serif;
			color: $r-white;
			text-decoration: none;
			text-transform: uppercase;
			transition: all 200ms ease-out;
		}
	}

	.navSearch {
		display: flex;
		margin: 0 -15px 30px;
		background: rgba(255,255,255,0.2);

		&__input {
			background: none;
			border: none;
			font-size: 25px;
		}

		&__button {
			width: 44px;
			height: 44px;
			background-color: transparent;
			cursor: pointer;

			&:before {
				content: '';
				@include sprite(search-white);
				transition: 0.25s ease-out;
			}
		}
	}

	.socials {
		margin-bottom: 30px;
	}
}

.state_open {
	.nav-overlay {
		visibility: visible;
	}
	.nav {
		margin-left: 0;
	}
}