.menu {
  font: bold 21px 'Roboto Slab', serif;
  padding-top: 15px;
  margin-bottom: 25px;
  &__item {
    text-transform: uppercase;
    &:first-child {
      margin-bottom: 5px;
    }
    &:before {
      display: inline-block;
      content: "";
      width: .286em;
      height: .286em;
      margin-right: .6em;
      margin-bottom: .24em;
      background: #ffd051;
    }
    &-active {
      color: #a3a3a3;
    }
  }
  &-small {
    font-size: 16px;
    .menu__item:before {
      margin-bottom: .3em;
    }
  }

  &-bordered {
      border-top: 2px solid $r-border-light-gray;
      border-bottom: 1px solid $r-border-light-gray;
      padding-bottom: 15px;
  }
}