.newsList {
  padding: 0 15px;
  ul {
    margin: 7px 0;
  }
  &__item {
    padding: 13px 0;
    border-bottom: 1px solid #eeeeee;
    &:last-child {
      border-bottom: none;
    }
    &-date {
      display: block;
      float: left;
      padding-top: 2px;
      width: 28px;
      font-size: 9px;
      color: #7e7e7e;
    }
    &-link {
      display: block;
      margin-left: 29px;
      font-size: 13px;
      color: #343434;
      text-decoration: none;
    }
  }
  &__all {
    display: block;
    padding: 15px 0;
    border: 1px solid #667787;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #85929f;
  }
}