.newsList {
  padding: 0 15px;

  ul {
    margin: 7px 0;
  }

  &__item {
    font-family: 'Lora', serif;
    padding: 13px 0;
    border-bottom: 1px solid $r-light-gray;

    .countersBlock__item-readLater {
      display: inline-block;
    }

    &:last-child {
      border-bottom: none;
    }

    &-date {
      display: block;
      float: left;
      padding-top: 2px;
      width: 28px;
      font-size: 9px;
      color: #7e7e7e;
    }

    &-link {
      display: block;
      margin-left: 29px;
      font-size: 15px;
      color: #343434;
      text-decoration: none;
    }

    .icon {
      display: inline-block;
      margin-right: 5px;

      &.ic-photo::after {
        content: '';
        @include sprite(ic-photo);
      }

      &.ic-video::after {
        content: '';
        @include sprite(ic-video);
      }

      &.ic-wright::after {
        content: '';
        @include sprite(ic-wright);
      }
    }
  }

  &__type {
    font-weight: normal;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #b0afae;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 29px;
    display: block;
  }

  &__color {
      width: 8px;
      height: 8px;
      display: inline-block;
      margin-right: 5px;

      &--yellow {
        background-color: #ffd347;
      }

      &--red {
        background-color: #7b1900;
      }

      &--blue {
        background-color: #cedfed;
      }

      &--green {
        background-color: #74ac4a;
      }

      &--default {
        background-color: #c2c2c2;
      }
  }

  &__all {
    display: block;
    padding: 15px 0;
    border: 1px solid #667787;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #85929f;
  }

  &-float-none {
    .newsList__item {
      &-date {
        float: none;
        width: 100%;
        margin-bottom: 5px;
      }

      &-link {
        margin-left: 0;
      }
    }
  }
  &-noborder {
    .newsList__item {
      border-bottom: none;
    }
  }
  &-border-dotted {
    .newsList__item {
      border-bottom: 1px dotted $r-light-gray;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}