.newsList {
  padding: 0 30px;
  ul {
    margin: 15px 0;
  }
  &__item {
    padding: 25px 0;
    border-bottom: 1px solid #eeeeee;
    &:last-child {
      border-bottom: none;
    }
    &-date {
      display: block;
      float: left;
      padding-top: 3px;
      width: 57px;
      font-size: 18px;
      color: #7e7e7e;
    }
    &-link {
      display: block;
      margin-left: 57px;
      font-size: 26px;
      color: #343434;
      text-decoration: none;
    }
  }
  &__all {
    display: block;
    padding: 30px 0;
    border: 1px solid #667787;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #85929f;
  }
}