.pageTabs {

	&__wrapper {
		position: relative;
		-webkit-tap-highlight-color: transparent;
		
	}

	&__scrollbar-hide {
		height: 65px;
		overflow: hidden;
	}

	&-border-bottom {
		display: block;
		height: 1px;
		width: 100%;
		position: absolute;
		top: 65px;
		background: #d4d4d4;
	}

	&__view {
		position: relative;
		width: 100%;
		height: 75px;
		overflow-x: auto;
		overflow-y: hidden;
		margin-bottom: 0;
		-webkit-overflow-scrolling: touch;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__items {
		display: inline-flex;
		height: 65px;
		position: relative;
		white-space: nowrap;
	}

	&__item {
		display: inline-flex;
		font: bold 18px 'Roboto Slab', serif;
		text-transform: uppercase;
		align-items: center;
		padding: 0px 16px;
		text-align: center;
		height: 61px;

		span {
			-webkit-user-select: none;
		}

		&.state_current {
			border-bottom: 4px solid #ffd051;
		}
	}
}
