.read-more {
  display: block;
  font: bold 18px 'Roboto', sans-serif;
  margin-bottom: 35px;
  color: $r-black;

  &:after {
    content: '';
    margin-left: 15px;
    @include sprite(arrow-black)
  }
}