.save__button {
  float: left;
  height: 34px;
  background: $r-light-gray;
  color: $r-likes-button-link;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  padding: 12px 15px 0 15px;
  box-sizing: border-box;
  transition: background .2s ease, opacity .2s ease;

  &-hidden {
    display: none;
  }

  &-saved {
    background: #c64a1b;
    color: $r-white;

    &:before {
      //top: 0;
      //left: 0;
      @include sprite(save-white);
    }
  }
}
.row_header .save__button {
  z-index: 777;
  position: fixed;
  top: 5px;
  right: 50px;
}
.state_open .row_header .save__button {
  display: none;
}