.search-form {
  background: $r-search-form;
  padding: 15px;
  .search-input-form {
    margin-bottom: 20px;
  }
  label {
    text-transform: none;
    font-weight: 400;
  }
 &__rubric {
   margin-bottom: 20px;
 }
  &__category {
    margin-bottom: 10px;
    label {
     vertical-align: top;
    }
    &__items {
      display: inline-block;
      margin-left: 10px;
      label {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}