.share {

    &-header,
    &-cancel {
        position: relative;
        padding: 10px 18px;
        width: calc(100% - 36px);
        color: #999;
        font-size: 17px;   
    }

    &-cancel {
        bottom: 80px;
        background-color: #fff;
        padding-top: 25px;
        padding-bottom: 35px;
    }

    &-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        z-index: 1050;
        width: 100%;
        height: 100%;
        background-color: #fff;
        text-align: left;

        .share-open & {
            display: block;
        }
    }

    &-list {
        padding: 5px 18px 85px;
        overflow-y: auto;
        height: calc(100% - 130px);
        -webkit-overflow-scrolling: touch;
    }

    &-item {
        margin: 0;
        width: 100%;
        border-bottom: 1px solid #e3e3e3;

        &:first-child {
            border-top: 1px solid #e3e3e3;
        }
    }

    &-link {
        display: block;
        color: #879cb4;
        position: relative;
        text-decoration: none;
        padding: 10px 0;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-user-select: none;
        user-select: none;
    }

    &-icon {
        display: inline-block;
        height: 36px;
        width: 36px;
        margin-right: 3px;
        margin-bottom: 3px;
        vertical-align: middle;
        border-radius: 50%;
        background: #2a3436;
        transition: color .2s ease-in-out;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;

        &-fb {
            &:before {
                font-size: 20px;
                line-height: 36px;
                content: "\f09a";
           }
        }
        &-vk {
           &:before {
               font-size: 20px;
               line-height: 36px;
                content: "\f189";
           }
        }
        &-gmail {
            &:before {
                font-size: 20px;
                line-height: 36px;
                content: "\f0d5";
           }
        }
        &-odno {
            &:before {
                font-size: 20px;
                line-height: 36px;
                content: "\f263";
           }
        }
        &-twitter {
            &:before {
                font-size: 20px;
                line-height: 36px;
                content: "\f099";
           }
        }
    }

    &-text {
        margin-left: 10px;
        font-size: 17px;
        color: #999;
    }

    &-handler {
        padding: 0 15px 15px;

        a {
            font-weight: 300;
        }
    }
}

.share-open {
    overflow: hidden;
}