.socials {
	display: flex;
	justify-content: center;

	.socialNetwork__item {
		display: inline-block;
		margin-right: 6px;
	}

	.socialNetwork__link {
		display: inline-block;
		height: 36px;
		width: 36px;
		margin-right: 3px;
		margin-bottom: 3px;
		vertical-align: middle;
		border-radius: 50%;
		background: $r-graphite;
		transition: color .2s ease-in-out;
		color: $r-white;
		text-decoration: none;
		text-align: center;
		
		&:before {
			font-size: 20px;
			line-height: 36px;
		}

		&:hover {
			color: $r-shadow-orange;
		}
	}
}

.ya-share2__container_size_m .ya-share2__list {
  font-size: 0;
}

.ya-share2__container_size_m .ya-share2__item {
  margin: 0;
  border-right: 1px solid #f0f1f5;
}
.ya-share2__container_size_m .ya-share2__item:first-child {
  border-left: 1px solid #f0f1f5;
}
.ya-share2__item .ya-share2__icon {
  width: auto;
  padding: 0 15px;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  font-family: 'FontAwesome', serif;
}
.ya-share2__item .ya-share2__counter {
  padding-left: 0;
  color: #221f30;
}
.ya-share2__item_service_vkontakte .ya-share2__icon:before {
  content: "\f189";
  color: #5B7FA6;
}
.ya-share2__item_service_facebook .ya-share2__icon:before {
  content: "\f09a";
  color: #3b5998;
}
.ya-share2__item_service_odnoklassniki .ya-share2__icon:before {
  content: "\f263";
  color: #ff9f4d;
}
.ya-share2__item_service_gplus .ya-share2__icon:before {
  content: "\f0d5";
  color: #db4437;
}
.ya-share2__item_service_twitter .ya-share2__icon:before {
  content: "\f099";
  color: #57ccff;
}

.ya-share2__item .ya-share2__badge {
  background: none;
}

.b-share .b-share__handle {
  padding:0!important;
}

.b-share-icon_yaru {
  background-position:0 -100px;
}

.b-share-icon_vkontakte {
  background-position:0 -50px;
}

.b-share-icon_facebook {
  background-position:-52px -100px;
}

.b-share-icon_twitter {
  background-position:-52px -150px;
}

.b-share-icon_odnoklassniki {
  background-position:0 -150px;
}

.b-share-icon_moimir {
  background-position:-52px 0;
}

.b-share-icon_lj {
  background-position:0 0;
}

.b-share-icon_gplus {
  background-position:-52px -50px;
}


