.socials-article {
	margin-bottom: 20px;

	.ya-share2__badge {
		border-radius: 0;
	}

	.ya-share2__item {
		display: flex;
		flex: 1 100%;
		justify-content: center;
	}

	.ya-share2__container_size_m .ya-share2__icon {
		height: 25px;
		width: 25px;
		background-size: 25px 25px;
	}
	.ya-share2__container_size_m .ya-share2__counter {
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
		font-weight: 300;
		padding: 0 5px;

	}
	.ya-share2__container_size_m .ya-share2__item {
		margin-right: 0;
	}

	&.small-size {
		.ya-share2__container_size_m .ya-share2__list {
			font-size: 0;
		}
		.ya-share2__container_size_m .ya-share2__item {
			margin: 0;
			border-right: 1px solid $r-light-gray;
		}
		.ya-share2__container_size_m .ya-share2__item:first-child {
			border-left: 1px solid $r-light-gray;
		}
		.ya-share2__item .ya-share2__icon {
			width: auto;
			height: auto;
			padding: 0 11px 0 10px;
			text-align: center;
			line-height: 32px;
			font-size: 14px;
			font-family: 'FontAwesome', serif;
		}
		.ya-share2__item .ya-share2__counter {
			padding: 0 7px 0 0;
			line-height: 32px;
			color: $r-text-dark;
		}
		.ya-share2__item_service_vkontakte .ya-share2__icon:before {
			content: "\f189";
			color: $social-vkontakte;
		}
		.ya-share2__item_service_facebook .ya-share2__icon:before {
			content: "\f09a";
			color: $social-facebook;
		}
		.ya-share2__item_service_odnoklassniki .ya-share2__icon:before {
			content: "\f263";
			color: $social-odnoklassniki;
		}
		.ya-share2__item_service_gplus .ya-share2__icon:before {
			content: "\f0d5";
			color: $social-gplus;
		}
		.ya-share2__item_service_twitter .ya-share2__icon:before {
			content: "\f099";
			color: $social-twitter;
		}

		.ya-share2__item .ya-share2__badge {
			background: none;
		}

		.b-share .b-share__handle {
			padding: 0 !important;
		}

		.b-share-icon_yaru {
			background-position: 0 -100px;
		}

		.b-share-icon_vkontakte {
			background-position: 0 -50px;
		}

		.b-share-icon_facebook {
			background-position: -52px -100px;
		}

		.b-share-icon_twitter {
			background-position: -52px -150px;
		}

		.b-share-icon_odnoklassniki {
			background-position: 0 -150px;
		}

		.b-share-icon_moimir {
			background-position: -52px 0;
		}

		.b-share-icon_lj {
			background-position: 0 0;
		}

		.b-share-icon_gplus {
			background-position: -52px -50px;
		}
	}
}