.todayMainNewsList {

  &__item {
    position: relative;
    padding: 0 0 0 60px;
    border-top: 2px solid $r-light-gray;

    &:first-child {
      border-top: none;
    }

    &:before {
      content: "";
      position: absolute;
      top: 38px;
      left: 0px;
      display: block;
      width: 24px;
      height: 20px;
      background: $r-orange;
    }

    &:after {
      content: "";
      position: absolute;
      top: 38px;
      left: 0px;
      display: block;
      border: 10px solid transparent;
      border-left: 5px solid $r-white;
    }
  }

  &__link {
    display: block;
    padding: 25px 0;
    font: normal 32px/46px 'Roboto Slab', serif;
    color: $r-black;
    text-decoration: none;

  }
}

