.todayMainNewsList {

  &__item {
    position: relative;
    padding: 0 0 0 30px;
    border-top: 1px solid $r-light-gray;

    &:first-child {
      border-top: none;
    }

    &:before {
      content: "";
      position: absolute;
      top: 19px;
      left: 0px;
      display: block;
      width: 12px;
      height: 10px;
      background: $r-orange;
    }

    &:after {
      content: "";
      position: absolute;
      top: 19px;
      left: 0px;
      display: block;
      border: 5px solid transparent;
      border-left: 2px solid $r-white;
    }
  }

  &__link {
    display: block;
    padding: 16px 0;
    font: normal 16px/1.2 'Roboto Slab', serif;
    color: $r-black;
    text-decoration: none;

  }
}

