/* ----- videosection.scss ----- */

.videosection {
	padding: 55px 12px 10px 12px;
	background: $r-orange;
	.brick__mainLink {
		display: block;
		margin-bottom: 10px;
	}
	&__description {
		margin-bottom: 10px;
		color: #667787;
		font-size: 12px;
	}

	.countersBlock__item {
		opacity: 1;
	}
	.label {
		position: absolute;
		background: #000;
		color: #fff;
		top: 0;
		left: -8px;
		font-size: 16px;
		padding: 10px 48px 10px 20px;;
		font-weight: bold;
		text-transform: uppercase;
		font-family: 'Roboto Slab', serif;
		&:before {
			display: block;
			content: "";
			position: absolute;
			left: 0;
			top: 100%;
			width: 0;
			height: 0;
			border: 4px solid transparent;
			border-top: 4px solid #cb6f25;
			border-right: 4px solid #cb6f25;
		}
		&:after {
			display: block;
			content: "";
			position: absolute;
			right: 10px;
			top: 13px;
			width: 25px;
			height: 25px;
			//@include sprite-pseudo-box($icon-white-right-arrow);
		}
	}
}