@import "../helpers/variables";

.errorPages__pageStatus {
    background: #f5f5f5;
}

.error__code {
    height: 125px;
    padding-top: 46px;
    text-align: center;
    font-size: 90px;
    line-height: 125px;
    border-bottom: 1px solid #d4d4d4;
}

.errorPages__linkWrapper {
    padding: 25px 0 20px 0;
    text-align: center;

    a {
        color: $r-carrot;
        font-weight: bold;
        text-decoration: none;
        font-size: 18px;
    }
}

.errorPages__textWrapper {
    padding: 30px 15px 40px 15px;
    background: $r-white;
}
.errorText {
    font-size: 15px;
    line-height: 1.4;
    text-transform: uppercase;

    b {
        color: $r-carrot;
    }
}