@import "../helpers/variables";
.my-page {
  h3 {
    margin: 0;
    padding: 15px 0;
  }

  &-socials {
    display: block;
    max-width: 300px;

    .socialNetwork__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      a {
        color: $r-black;
        text-decoration: none;
      }

      label {
        margin: 0;
      }
    }
    .socialNetwork__link {
      background: $r-socials;
    }


  }

}

.avatar {
  position: relative;
  width: 280px;
  margin-bottom: 20px;

  img {
    width: 100%;
    vertical-align: bottom;
  }

  &-delete-button {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,0.5);
    text-decoration: none;

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      height: 2px;
      margin: 14px 0 0 5px;
      transform: rotate(45deg);
      background: rgba(255,255,255,1);
      transition: .25s ease-in-out;
    }

    &:after {
        transform: rotate(-45deg);
    }
  }

  &-change-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $r-white;
    background: rgba(0,0,0,0.5);
    font: normal 13px/35px Roboto, sans-serif;
    text-decoration: none;

  }
}