.signup {
  background: #FFF;

  &__form {
    padding: 60px 15px 60px 15px;

    &-title {
      margin-bottom: 20px;
      font: bold 21px 'Roboto Slab', serif;
    }

    &-question {
      margin-bottom: 30px;

      label {
        display: block;
        margin-bottom: 10px;
        font: normal 16px 'Roboto', serif;
        color: #747474;
      }
    }
    &-subscribe {
      display: block;
      margin: 20px 0;
      font: normal 16px 'Roboto Regular', serif;
      color: #747474;
    }
    .yellowButton {
      display: block;
      text-align: center;
    }
  }
}