.signup {
  background: #FFF;
  &__form {
    padding: 20px 15px 60px 15px;
    &-title {
      font: bold 21px 'Roboto Slab', serif;
    }
    &-question {
      margin-top: 30px;
      label {
        display: block;
        margin-bottom: 10px;
        font: normal 16px 'Roboto Regular', serif;
        color: #747474;
      }
    }
    &-subscribe {
      display: block;
      margin: 20px 0;
      font: normal 16px 'Roboto Regular', serif;
      color: #747474;
    }
    .yellowButton {
      padding: 12px 79px;
      .corner {
        height: 37px;
      }
    }
  }
}