$icons: (
		sprite: (width: 916px, height: 915px, pngPath: '../images/sprite.png', svgPath: '../images/sprite.svg'),
18plus: (width: 22px, height: 22px, backgroundX: 0px, backgroundY: 0px),
arrow-black: (width: 18px, height: 15px, backgroundX: -32px, backgroundY: -32px),
arrow-white: (width: 18px, height: 15px, backgroundX: -60px, backgroundY: -57px),
calendar: (width: 17px, height: 15px, backgroundX: -88px, backgroundY: -82px),
checkbox-off: (width: 18px, height: 18px, backgroundX: -115px, backgroundY: -107px),
checkbox-on: (width: 18px, height: 18px, backgroundX: -143px, backgroundY: -135px),
close: (width: 6px, height: 6px, backgroundX: -171px, backgroundY: -163px),
comments-black: (width: 12px, height: 13px, backgroundX: -187px, backgroundY: -179px),
comments-grey: (width: 12px, height: 13px, backgroundX: -209px, backgroundY: -202px),
comments-white: (width: 12px, height: 13px, backgroundX: -231px, backgroundY: -225px),
like-black: (width: 10px, height: 16px, backgroundX: -253px, backgroundY: -248px),
like-green: (width: 10px, height: 16px, backgroundX: -273px, backgroundY: -274px),
like-grey: (width: 10px, height: 16px, backgroundX: -293px, backgroundY: -300px),
like-white: (width: 10px, height: 16px, backgroundX: -313px, backgroundY: -326px),
login: (width: 17px, height: 17px, backgroundX: -333px, backgroundY: -352px),
photo: (width: 21px, height: 18px, backgroundX: -360px, backgroundY: -379px),
radiobox-off: (width: 18px, height: 18px, backgroundX: -391px, backgroundY: -407px),
radiobox-on: (width: 18px, height: 18px, backgroundX: -419px, backgroundY: -435px),
save: (width: 17px, height: 9px, backgroundX: -447px, backgroundY: -463px),
saved: (width: 34px, height: 34px, backgroundX: -474px, backgroundY: -482px),
sc2-google: (width: 17px, height: 11px, backgroundX: -518px, backgroundY: -526px),
sc2-odnoclass: (width: 11px, height: 18px, backgroundX: -545px, backgroundY: -547px),
sc2-twiter: (width: 17px, height: 14px, backgroundX: -566px, backgroundY: -575px),
sc2-vk: (width: 18px, height: 10px, backgroundX: -593px, backgroundY: -599px),
sc2_fb: (width: 9px, height: 19px, backgroundX: -621px, backgroundY: -619px),
sc3-fb: (width: 9px, height: 19px, backgroundX: -640px, backgroundY: -648px),
sc3-google: (width: 17px, height: 11px, backgroundX: -659px, backgroundY: -677px),
sc3-odnoclass: (width: 11px, height: 18px, backgroundX: -686px, backgroundY: -698px),
sc3-twiter: (width: 17px, height: 14px, backgroundX: -707px, backgroundY: -726px),
sc3-vk: (width: 18px, height: 10px, backgroundX: -734px, backgroundY: -750px),
search-grey: (width: 18px, height: 18px, backgroundX: -762px, backgroundY: -770px),
search-white: (width: 20px, height: 20px, backgroundX: -790px, backgroundY: -798px),
seen-black: (width: 11px, height: 8px, backgroundX: -820px, backgroundY: -828px),
seen-grey: (width: 10.7px, height: 8px, backgroundX: -841px, backgroundY: -846px),
seen-white: (width: 11px, height: 8px, backgroundX: -862px, backgroundY: -864px),
video: (width: 23px, height: 23px, backgroundX: -883px, backgroundY: -882px),
);
