$icons: (
		sprite: (width: 590px, height: 574px, pngPath: '../images/sprite.png', svgPath: '../images/sprite.svg'),
18plus: (width: 22px, height: 22px, backgroundX: 0px, backgroundY: 0px),
arrow-black: (width: 18px, height: 15px, backgroundX: -22px, backgroundY: -22px),
arrow-white: (width: 18px, height: 15px, backgroundX: -40px, backgroundY: -37px),
calendar: (width: 17px, height: 15px, backgroundX: -58px, backgroundY: -52px),
checkbox-off: (width: 18px, height: 18px, backgroundX: -75px, backgroundY: -67px),
checkbox-on: (width: 18px, height: 18px, backgroundX: -93px, backgroundY: -85px),
close: (width: 6px, height: 6px, backgroundX: -111px, backgroundY: -103px),
comments-black: (width: 12px, height: 13px, backgroundX: -117px, backgroundY: -109px),
comments-grey: (width: 12px, height: 14px, backgroundX: -129px, backgroundY: -122px),
comments-white: (width: 12px, height: 13px, backgroundX: -141px, backgroundY: -136px),
like-black: (width: 10px, height: 16px, backgroundX: -153px, backgroundY: -149px),
like-green: (width: 10px, height: 16px, backgroundX: -163px, backgroundY: -165px),
like-grey: (width: 10px, height: 16px, backgroundX: -173px, backgroundY: -181px),
like-white: (width: 10px, height: 16px, backgroundX: -183px, backgroundY: -197px),
login: (width: 17px, height: 17px, backgroundX: -193px, backgroundY: -213px),
photo: (width: 21px, height: 18px, backgroundX: -210px, backgroundY: -230px),
radiobox-off: (width: 18px, height: 18px, backgroundX: -231px, backgroundY: -248px),
radiobox-on: (width: 18px, height: 18px, backgroundX: -249px, backgroundY: -266px),
save: (width: 17px, height: 9px, backgroundX: -267px, backgroundY: -284px),
save-red: (width: 17px, height: 9px, backgroundX: -284px, backgroundY: -293px),
save-white: (width: 17px, height: 9px, backgroundX: -301px, backgroundY: -302px),
saved: (width: 34px, height: 34px, backgroundX: -318px, backgroundY: -311px),
sc2-google: (width: 17px, height: 11px, backgroundX: -352px, backgroundY: -345px),
sc2-odnoclass: (width: 11px, height: 18px, backgroundX: -369px, backgroundY: -356px),
sc2-twiter: (width: 17px, height: 14px, backgroundX: -380px, backgroundY: -374px),
sc2-vk: (width: 18px, height: 10px, backgroundX: -397px, backgroundY: -388px),
sc2_fb: (width: 9px, height: 19px, backgroundX: -415px, backgroundY: -398px),
sc3-fb: (width: 9px, height: 19px, backgroundX: -424px, backgroundY: -417px),
sc3-google: (width: 17px, height: 11px, backgroundX: -433px, backgroundY: -436px),
sc3-odnoclass: (width: 11px, height: 18px, backgroundX: -450px, backgroundY: -447px),
sc3-twiter: (width: 17px, height: 14px, backgroundX: -461px, backgroundY: -465px),
sc3-vk: (width: 18px, height: 10px, backgroundX: -478px, backgroundY: -479px),
search-grey: (width: 18px, height: 18px, backgroundX: -496px, backgroundY: -489px),
search-white: (width: 20px, height: 20px, backgroundX: -514px, backgroundY: -507px),
seen-black: (width: 11px, height: 8px, backgroundX: -534px, backgroundY: -527px),
seen-grey: (width: 11px, height: 8px, backgroundX: -545px, backgroundY: -535px),
seen-white: (width: 11px, height: 8px, backgroundX: -556px, backgroundY: -543px),
video: (width: 23px, height: 23px, backgroundX: -567px, backgroundY: -551px),
);
