$icons: (
		sprite: (width: 675px, height: 642px, pngPath: '../images/sprite.png', svgPath: '../images/sprite.svg'),
18plus: (width: 22px, height: 22px, backgroundX: 0px, backgroundY: 0px),
arrow-black: (width: 18px, height: 15px, backgroundX: -22px, backgroundY: -22px),
arrow-white: (width: 18px, height: 15px, backgroundX: -40px, backgroundY: -37px),
calendar: (width: 17px, height: 15px, backgroundX: -58px, backgroundY: -52px),
checkbox-off: (width: 18px, height: 18px, backgroundX: -75px, backgroundY: -67px),
checkbox-on: (width: 18px, height: 18px, backgroundX: -93px, backgroundY: -85px),
close: (width: 6px, height: 6px, backgroundX: -111px, backgroundY: -103px),
comments-black: (width: 12px, height: 13px, backgroundX: -117px, backgroundY: -109px),
comments-grey: (width: 12px, height: 14px, backgroundX: -129px, backgroundY: -122px),
comments-white: (width: 12px, height: 13px, backgroundX: -141px, backgroundY: -136px),
ic-photo: (width: 14px, height: 11px, backgroundX: -153px, backgroundY: -149px),
ic-video: (width: 16px, height: 10px, backgroundX: -167px, backgroundY: -160px),
ic-wright: (width: 14px, height: 14px, backgroundX: -183px, backgroundY: -170px),
like-black: (width: 10px, height: 16px, backgroundX: -197px, backgroundY: -184px),
like-green: (width: 10px, height: 16px, backgroundX: -207px, backgroundY: -200px),
like-grey: (width: 10px, height: 16px, backgroundX: -217px, backgroundY: -216px),
like-white: (width: 10px, height: 16px, backgroundX: -227px, backgroundY: -232px),
login: (width: 17px, height: 17px, backgroundX: -237px, backgroundY: -248px),
photo: (width: 21px, height: 18px, backgroundX: -254px, backgroundY: -265px),
radiobox-off: (width: 18px, height: 18px, backgroundX: -275px, backgroundY: -283px),
radiobox-on: (width: 18px, height: 18px, backgroundX: -293px, backgroundY: -301px),
save: (width: 17px, height: 9px, backgroundX: -311px, backgroundY: -319px),
save-black: (width: 17px, height: 9px, backgroundX: -328px, backgroundY: -328px),
save-red: (width: 17px, height: 9px, backgroundX: -345px, backgroundY: -337px),
save-white: (width: 17px, height: 9px, backgroundX: -362px, backgroundY: -346px),
saved: (width: 34px, height: 34px, backgroundX: -379px, backgroundY: -355px),
sc2-google: (width: 17px, height: 11px, backgroundX: -413px, backgroundY: -389px),
sc2-odnoclass: (width: 11px, height: 18px, backgroundX: -430px, backgroundY: -400px),
sc2-twiter: (width: 17px, height: 14px, backgroundX: -441px, backgroundY: -418px),
sc2-vk: (width: 18px, height: 10px, backgroundX: -458px, backgroundY: -432px),
sc2_fb: (width: 9px, height: 19px, backgroundX: -476px, backgroundY: -442px),
sc3-fb: (width: 9px, height: 19px, backgroundX: -485px, backgroundY: -461px),
sc3-google: (width: 17px, height: 11px, backgroundX: -494px, backgroundY: -480px),
sc3-odnoclass: (width: 11px, height: 18px, backgroundX: -511px, backgroundY: -491px),
sc3-twiter: (width: 17px, height: 14px, backgroundX: -522px, backgroundY: -509px),
sc3-vk: (width: 18px, height: 10px, backgroundX: -539px, backgroundY: -523px),
search-grey: (width: 18px, height: 18px, backgroundX: -557px, backgroundY: -533px),
search-white: (width: 20px, height: 20px, backgroundX: -575px, backgroundY: -551px),
seen-black: (width: 11px, height: 8px, backgroundX: -595px, backgroundY: -571px),
seen-grey: (width: 11px, height: 8px, backgroundX: -606px, backgroundY: -579px),
seen-white: (width: 11px, height: 8px, backgroundX: -617px, backgroundY: -587px),
share: (width: 24px, height: 24px, backgroundX: -628px, backgroundY: -595px),
video: (width: 23px, height: 23px, backgroundX: -652px, backgroundY: -619px),
);
