/* ----- variables.scss ----- */

// Ridus COLOR PALETTE
// Primary Colors
$r-white: #fff;
$r-black: #000;

// Secondary Colors
$r-dark-white: #f6f6f6;
$r-light-gray: #eee;
$r-medium-gray: #657889;
$r-dark-gray: #5b6a78;
$r-graphite: #2a3436;
$r-green: #84c61b;

// Forms Colors
$r-orange: #ffd051;
$r-light-orange: #ffd103;
$r-shadow-orange: #ffc336;
$r-gray: #bbb;
$r-carrot: #c64a1b;
$r-light-red: #e13939;
$r-turquoise: #0b8382;

// Text colors
$r-text-dark: #333;
$r-text-gray: #606873;
$r-text-light-gray: #a3a3a3;
$r-text-avatar-info: #848484;
$r-text-medium-gray: #4d4d4d;

//Block colors
$r-blue: #cee0ed;
$r-deep-blue: #677a87;
$r-red: #7a1800;
$r-gunmetall: #2b3336;

$r-dark: #252525;
$r-dark-brick-text: #d3d3d3;
$r-dark-brick-link: #e1e4e7;

//Components colors
$r-main-nav-bg: #445560;
$r-hr-color: #67757e;
$r-placeholder: #c2c2c2;
$r-likes-button-text: #333333;
$r-likes-button-link: #686b6f;
$r-blockquote: #ededed;
$r-socials:#657788;

//Border colors
$r-border-gray: #969696;
$r-border-light-gray: #d4d4d4;
$r-avatar-border: #dbdbdb;

//Socials
$social-vkontakte: #5B7FA6;
$social-facebook: #3b5998;
$social-odnoklassniki: #ff9f4d;
$social-gplus: #db4437;
$social-twitter: #57ccff;