// Ridus COLOR PALETTE
// Primary Colors
$r-white: #fff;
$r-black: #000;

// Secondary Colors
$r-light-gray: #eee;
$r-medium-gray: #657889;
$r-dark-gray: #5b6a78;
$r-graphite: #2a3436;

// Forms Colors
$r-orange: #ffd051;
$r-light-orange: #ffd103;
$r-shadow-orange: #ffc336;
$r-gray: #bbb;
$r-carrot: #c64a1b;