// Ridus COLOR PALETTE
// Primary Colors
$r-white: #fff;
$r-black: #000;

// Secondary Colors
$r-light-gray: #eee;
$r-medium-gray: #657889;
$r-dark-gray: #5b6a78;
$r-graphite: #2a3436;

// Forms Colors
$r-orange: #ffd051;
$r-light-orange: #ffd103;
$r-shadow-orange: #ffc336;
$r-gray: #bbb;
$r-carrot: #c64a1b;
$r-lll:#f6f6f6;
$r-health: #0b8382;
$r-blue:#cee0ed;
$r-main-nav-bg: #445560;
$r-hr-color: #67757e;
$r-blue:#cee0ed;
$r-deep-blue:#677a87;
$r-red: #7a1800;
$r-gunmetall: #2b3336;


//Cahange names
$r-d3d3d3:#d3d3d3;
$r-e1e4e7:#e1e4e7;
$r-lll:#f6f6f6;
$r-252525:#252525;

$r-placeholder: #c2c2c2;