/* ----- common.scss ----- */

html {
	font-size: 62.5%; /* =10px */
	width: 100%;
	height: 99.9%;
	position: relative;
}

body {
	position: relative;
	line-height: 1.2;
	font-size: 1.6rem; /* 1.6*10px = 16px */
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 99.9%;
	background: $r-light-gray;
	zoom: 1;
	overflow: auto;
	overflow-x: hidden;
	color: $r-text-dark;

	//&.state_fixed {
		.fixed_content {
			height: 100%;
			overflow: auto;
		}
	//}

}

a {
	color: $r-black;

	&:hover {
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h6 {
	font-size: 14px; /* in use */
}

h5 {
	font-size: 15px; /* in use */
}

h4 {
	font-size: 18px; /* in use */
	font-family: 'Roboto Slab', serif;
}

h3 {
	font-family: 'Roboto Slab', serif;
	font-size: 21px;
	margin: 15px 0 30px;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 26px; /* in use */
	margin-bottom: 15px;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 28px; /* in use */
	margin-bottom: 20px;
}

hr {
	margin: 15px 0;
	border: none;
	border-bottom: 1px solid $r-hr-color;

	&.dashed {
		border-bottom-style: dashed;
		border-bottom-color: $r-placeholder;
	}
}

.clickable {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 12;
}

/* Retina */

/* Example:
<img src="_images/logo.png" class="x1" width="154" height="60" alt="РИДУС">
<img src="_images/logo_2x.png" class="x2" width="154" height="60" alt="РИДУС">
I would recommend to follow this way for all pictures,
because on non retina sites users will not spend extra traffic and
on retina will be good resolution */
.x2 {
	display: none;
}

.x1 {
	display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
	.x2 {
		display: block;
	}
	.x1 {
		display: none;
	}
}

.iscroll {
	position: relative;
	overflow: hidden;
	width: 100.1%;
}

.section-title {
	position: relative;
	padding: 10px 0;
	font: bold 18px 'Roboto Slab', serif;
	text-align: center;
	text-transform: uppercase;
	color: $r-white;
}

.sticky {
	z-index: 111;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.sticky:before,
.sticky:after {
	content: '';
	display: table;
}

.relative {
	position: relative;
}

.full-width {
	margin-left: -15px;
	margin-right: -15px;
}
.full-width iframe {
	min-width: 100% !important;
}
.full-width_twitter {
	margin-left: -16px;
	margin-right: -16px;
}

.section-title-left {
    padding: 15px;
    font: bold 21px 'Roboto Slab', sans-serif;
    text-transform: uppercase;
}

//todo where is it used? do not suit default form styles
//label {
//  font-size: 16px;
//  font-weight: bold;
//  text-transform: uppercase;
//  color: #a3a3a3;
//}