/* ----- grid.scss ----- */
.row {
  display: flex;
}
.col-12 {
  width: 100%;
  .brick__image {
    height: 445px;
  }
  .brick__label-position {
    bottom: 20px;
  }
}
.col-6 {
  width: 50%;
  margin-left: 20px;
}
.col-6:first-child {
  margin-left: 0;
}
