/* ----- grid.scss ----- */
.row {
  display: flex;
}
.col-12 {
  width: 100%;
  .brick__image {
    height: 223px;
  }
  .brick__label-position {
    bottom: 10px;
  }
}
.col-6 {
  width: 50%;
  margin-left: 10px;
}
.col-6:first-child {
  margin-left: 0;
}


/* Padding*/

.padding-lr {
  padding-left: 15px;
  padding-right: 15px;
}

.padding-tb {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-b {
  padding-bottom: 10px;
}

.padding-tb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}