<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
    <section class="footerLinks padding-lr">
        <p>Ридус в соцсетях</p>
        @@include('./../components/_socials.html')
    </section>
    <section class="footerSubscribe padding-lr">
        <p>Ежедневная рассылка <br>лучших новостей от Ридуса</p>
        <form>
            <div class="footerSubscribe__form">
                <input class="footerSubscribe__input" type="text" placeholder="Введите e-mail" />
                <a class="yellowButton" href="" title="">
                    подписаться
                    <i class="corner"><!-- corner --></i>
                </a>
                <!--button class="footerSubscribe__button" type="submit">подписаться</button-->
            </div>
        </form>
        <a class="footerSubscribe__siteLink" href="#">
            <i class="fa fa-globe"></i>
            Перейти на полную версию сайта
        </a>
    </section>
    <section class="footerCopy padding-lr">
        <p class="footerCopy__text">© 2011-2016 Ридус. Все права защищены.</p>
        <i class="footerCopy__18plus"></i>
    </section>

    <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
</footer>