<footer itemscope itemtype="http://schema.org/WPFooter">
    <section class="footerLinks padding-lr">
        <p>Ридус в соцсетях</p>
        <ul class="footerSocials">
            <li class="socialNetwork__item">
                <a class="socialNetwork__link view_iconFacebook" href="#" title=""></a>
            </li>
            <li class="socialNetwork__item">
                <a class="socialNetwork__link view_iconvKontakte" href="#" title=""></a>
            </li>
            <li class="socialNetwork__item">
                <a class="socialNetwork__link view_iconGoogle" href="#" title=""></a>
            </li>
            <li class="socialNetwork__item">
                <a class="socialNetwork__link view_iconTwitter" href="#" title=""></a>
            </li>
            <li class="socialNetwork__item">
                <a class="socialNetwork__link view_iconRSS" href="#" title=""></a>
            </li>
        </ul>
    </section>
    <section class="footerSubscribe padding-lr">
        <p>Ежедневная рассылка лучших новостей от Ридуса</p>
        <form>
            <div class="footerSubscribe__form">
                <input class="footerSubscribe__input" type="text" placeholder="Введите e-mail" />
                <a class="yellowButton" href="" title="">
                    подписаться
                    <i class="corner"><!-- corner --></i>
                </a>
                <!--button class="footerSubscribe__button" type="submit">подписаться</button-->
            </div>
        </form>
    </section>
    <section class="footerCopy padding-lr">
        <p class="footerCopy__text">© 2011-2016 Ридус. Все права защищены.</p>
    </section>
</footer>