<footer itemscope itemtype="http://schema.org/WPFooter">
    <section class="footerLinks padding-lr">
        <p>Ридус в соцсетях</p>
        @@include('./../components/_socials.html')
    </section>
    <section class="footerSubscribe padding-lr">
        <p>Ежедневная рассылка <br>лучших новостей от Ридуса</p>
        <form>
            <div class="footerSubscribe__form">
                <input class="footerSubscribe__input" type="text" placeholder="Введите e-mail" />
                <a class="yellowButton" href="" title="">
                    подписаться
                    <i class="corner"><!-- corner --></i>
                </a>
                <!--button class="footerSubscribe__button" type="submit">подписаться</button-->
            </div>
        </form>
    </section>
    <section class="footerCopy padding-lr">
        <p class="footerCopy__text">© 2011-2016 Ридус. Все права защищены.</p>
        <i class="footerCopy__18plus icon-18"></i>
    </section>
</footer>