<div class="nav-overlay disable_scrolling">
	<div class="nav scrollable enable_scrolling">
		<header>
			<a href="index3.html" class="header__logo" title="На главную">
				<img src="../../images/logo.png" class="x1" width="102" height="40" alt="РИДУС" />
				<img src="../../images/logo-2x.png" class="x2" width="102" height="40" alt="РИДУС" />
			</a>
			<a href="#" class="header__readLater">
				<span class="circle"></span>
				<span class="number">7</span>
			</a>
			<a class="header__loginButton" href="#" title="">&nbsp;</a>
		</header>
		<form class="navSearch">
			<input class="navSearch__input" type="text">
			<button class="navSearch__button"></button>
		</form>
		<ul>
			<li class="nav__item">
				<a class="nav__link" href="#">Картина дня</a>
			</li>
			<li class="nav__item state_current">
				<a class="nav__link" href="#">Гражданская журналистика</a>
			</li>
			<li class="nav__item">
				<a class="nav__link" href="#">Интересное</a>
			</li>
			<li class="nav__item">
				<a class="nav__link" href="#">Полезное</a>
			</li>
			<li class="nav__item hideOn_1024">
				<a class="nav__link" href="#">Развлечения</a>
			</li>
		</ul>
		<nav class="subnav">
			<ul class="tagList">
				<li class="tagList__item">
					<a class="tagList__link" href="#">Авто</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Арт-ридус</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Архитектура и строительство</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Бизнес</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Взаимоотношения полов</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Видео дня</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Военное дело</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Городская среда</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Другое</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Еда</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Животные</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Жизнь в картинках</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Заброшенный мир</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Здоровье</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Знаменитости</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Игры</a>
				</li>
				<li class="tagList__item">
					<a class="tagList__link" href="#">Интервью</a>
				</li>
			</ul>
		</nav>
		<hr />
		@@include('./../components/_socials.html')
	</div>
</div>