<section class="bgColor_white">
	<div class="section-title">
		Картина дня
		@@include('../components/_burger-button.html')
	</div>

	@@include('./../components/_slider.html')

	<div class="row padding-lr padding-tb">
		<div class="col-6">
			<div class="brick">
				@@include('./../bricks/news-simple.html', {
				"image": 2,
				"data": 3,
				"label": 22,
				"counters": true,
				"like": 120,
				"comment": 35,
				"show": 3812
				})
			</div>
		</div>
		<div class="col-6">
			<div class="brick">
				@@include('./../bricks/news-simple.html', {
				"image": 1,
				"data": 2,
				"label": 31,
				"counters": true,
				"like": 154,
				"comment": 26,
				"show": 2789
				})
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="brick">
				@@include('./../bricks/main-for-today.html')
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="brick">
				@@include('./../bricks/news-list.html')
			</div>
		</div>
	</div>

	<div class="row padding-lr padding-tb">
		<div class="col-12">
			<div class="brick">
				@@include('./../bricks/news-simple.html', {
				"image": 1,
				"data": 4,
				"label": 22,
				"counters": true,
				"like": 0,
				"comment": 2,
				"show": 408
				})
			</div>
		</div>
	</div>

	<div class="row padding-lr padding-tb">
		<div class="col-6">
			<div class="brick">
				@@include('./../bricks/news-simple.html', {
				"image": 2,
				"data": 2,
				"label": 22,
				"counters": true,
				"like": 0,
				"comment": 2,
				"show": 408
				})
			</div>
		</div>
		<div class="col-6">
			<div class="brick">
				@@include('./../bricks/news-simple.html', {
				"image": 1,
				"data": 1,
				"label": 31,
				"counters": true,
				"like": 0,
				"comment": 2,
				"show": 408
				})
			</div>
		</div>
	</div>

	<div class="row padding-lr padding-tb">
		<div class="col-12">
			<div class="brick">
				@@include('./../bricks/news-simple.html', {
				"image": 2,
				"data": 5,
				"label": 22,
				"counters": true,
				"like": 0,
				"comment": 2,
				"show": 408
				})
			</div>
		</div>
	</div>

	<div class="row padding-lr padding-tb">
		<div class="col-6">
			<div class="brick">
				@@include('./../bricks/news-simple.html', {
				"image": 2,
				"data": 6,
				"label": 22,
				"counters": true,
				"like": 0,
				"comment": 2,
				"show": 408
				})
			</div>
		</div>
		<div class="col-6">
			<div class="brick">
				@@include('./../bricks/news-simple.html', {
				"image": 1,
				"data": 1,
				"label": 31,
				"counters": true,
				"like": 0,
				"comment": 2,
				"show": 408
				})
			</div>
		</div>
	</div>
</section>

<section class="accordion">

	<section class="bgColor_deepblue technologies">
		<div class="accordion-section-title section-title" data-content="#accordion-1">
			Технологии
			<i class="accordion-section-title__flip"></i>
			@@include('../components/_burger-button.html')
		</div>

		<div class="accordion-section-content" id="accordion-1">
			<div class="row">
				<div class="col-12">
					@@include('./../bricks/alasliderimage.html', {"image": 6, "saveButton": "read"})
				</div>
			</div>

			<div class="row padding-lr padding-tb">
				<div class="col-6">
					<div class="brick">
						@@include('./../bricks/news-simple.html', {
						"image": 2,
						"data": 6,
						"label": 22,
						"counters": true,
						"like": 0,
						"comment": 2,
						"show": 408
						})
					</div>
				</div>
				<div class="col-6">
					<div class="brick">
						@@include('./../bricks/news-simple.html', {
						"image": 1,
						"data": 1,
						"label": 31,
						"counters": true,
						"like": 0,
						"comment": 2,
						"show": 408
						})
					</div>
				</div>
			</div>

			<div class="row padding-lr padding-tb">
				<div class="col-12">
					<div class="brick">
						@@include('./../bricks/news-simple.html', {
						"image": 2,
						"data": 5,
						"label": 22,
						"counters": true,
						"like": 0,
						"comment": 2,
						"show": 408
						})
					</div>
				</div>
			</div>

			<div class="row padding-lr padding-tb">
				<div class="col-6">
					<div class="brick">
						@@include('./../bricks/news-simple.html', {
						"image": 2,
						"data": 6,
						"label": 22,
						"counters": true,
						"like": 0,
						"comment": 2,
						"show": 408
						})
					</div>
				</div>
				<div class="col-6">
					<div class="brick">
						@@include('./../bricks/news-simple.html', {
						"image": 1,
						"data": 1,
						"label": 31,
						"counters": true,
						"like": 0,
						"comment": 2,
						"show": 408
						})
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="bgColor_red technologies">
		<div class="accordion-section-title section-title" data-content="#accordion-2">
			Украинский кризис
			<i class="accordion-section-title__flip"></i>
			@@include('../components/_burger-button.html')
		</div>

		<div class="accordion-section-content" id="accordion-2">
			<div class="row">
				<div class="col-12">
					@@include('./../bricks/alasliderimage.html', {"image": 6, "saveButton": "read"})
				</div>
			</div>

			<div class="row padding-lr padding-tb">
				<div class="col-6">
					<div class="brick">
						@@include('./../bricks/news-simple.html', {
						"image": 2,
						"data": 6,
						"label": 22,
						"counters": true,
						"like": 0,
						"comment": 2,
						"show": 408
						})
					</div>
				</div>
				<div class="col-6">
					<div class="brick">
						@@include('./../bricks/news-simple.html', {
						"image": 1,
						"data": 1,
						"label": 31,
						"counters": true,
						"like": 0,
						"comment": 2,
						"show": 408
						})
					</div>
				</div>
			</div>

			<div class="row padding-lr padding-tb">
				<div class="col-12">
					<div class="brick">
						@@include('./../bricks/news-simple.html', {
						"image": 2,
						"data": 5,
						"label": 22,
						"counters": true,
						"like": 0,
						"comment": 2,
						"show": 408
						})
					</div>
				</div>
			</div>

			<div class="row padding-lr padding-tb">
				<div class="col-6">
					<div class="brick">
						@@include('./../bricks/news-simple.html', {
						"image": 2,
						"data": 6,
						"label": 22,
						"counters": true,
						"like": 0,
						"comment": 2,
						"show": 408
						})
					</div>
				</div>
				<div class="col-6">
					<div class="brick">
						@@include('./../bricks/news-simple.html', {
						"image": 1,
						"data": 1,
						"label": 31,
						"counters": true,
						"like": 0,
						"comment": 2,
						"show": 408
						})
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="bgColor_gunmetal">
		<div class="accordion-section-title section-title" data-content="#accordion-3">
			Операция в сирии
			<i class="accordion-section-title__flip"></i>
			@@include('../components/_burger-button.html')
		</div>

		<div class="accordion-section-content" id="accordion-3">
			<div class="row">
				<div class="col-12">
					@@include('./../bricks/alasliderimage.html', {"image": 6, "saveButton": "read"})
				</div>
			</div>

			<div class="row padding-lr padding-tb">
				<div class="col-6">
					<div class="brick">
						@@include('./../bricks/news-simple.html', {
						"image": 2,
						"data": 6,
						"label": 22,
						"counters": true,
						"like": 0,
						"comment": 2,
						"show": 408
						})
					</div>
				</div>
				<div class="col-6">
					<div class="brick">
						@@include('./../bricks/news-simple.html', {
						"image": 1,
						"data": 1,
						"label": 31,
						"counters": true,
						"like": 0,
						"comment": 2,
						"show": 408
						})
					</div>
				</div>
			</div>

			<div class="row padding-lr padding-tb">
				<div class="col-12">
					<div class="brick">
						@@include('./../bricks/news-simple.html', {
						"image": 2,
						"data": 5,
						"label": 22,
						"counters": true,
						"like": 0,
						"comment": 2,
						"show": 408
						})
					</div>
				</div>
			</div>

			<div class="row padding-lr padding-tb">
				<div class="col-6">
					<div class="brick">
						@@include('./../bricks/news-simple.html', {
						"image": 2,
						"data": 6,
						"label": 22,
						"counters": true,
						"like": 0,
						"comment": 2,
						"show": 408
						})
					</div>
				</div>
				<div class="col-6">
					<div class="brick">
						@@include('./../bricks/news-simple.html', {
						"image": 1,
						"data": 1,
						"label": 31,
						"counters": true,
						"like": 0,
						"comment": 2,
						"show": 408
						})
					</div>
				</div>
			</div>

		</div>
	</section>
</section>